
{% extends "../layouts/design-iterations-layout.html" %}

{% block pageTitle %}
  Exporter prototype version 5 (Transition)
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  })}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
    {{ govukPhaseBanner({
      tag: {
        text: "Prototype"
      },
      html: 'Exporter'
    }) }}
  </div>

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-top-6">
      Version 5 (Transition / MVP)
    </h1>
    {#
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Implemented changes
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>Iteration devised for the purpose of the alpha assessment</li>
            <li>Removed the word dashboard from home (GDS recommendation)</li>
            <li>Added full URLs to email (GDS recommendation) and removed repetitive content</li>
            <li>Removed 'new' from 'Tell us about a new waste export' (user insight)
            <li>Changed first question to 'Who is arranging the export?' and made more consistent with wording on Annex VII (user insight)</li>
            <li>Legal wording removed from page above as requirement for this unclear</li>
            <li>Removed 'I' from legal certification after user feedback this was too personal, legal advice pending on this content</li>
            <li>Have added 'immediately' to the confirm and submit text on the check answers page, due to user uncertainty here (user insight)</li>
            <li>Created consistency in use of terms 'Your transaction number' and 'Your reference number'</li>
            <li>Placeholders added for accessibility statement, cookies, and privacy policy</li>
            <li>Session timeout warning on home page (timeout set to 60 seconds, warning triggered at 30)</li>
            <li>Search, sort, and filter functionality (separate page outside of typical user journey):</li>
            <ol class="govuk-list govuk-list--number">
              <li><a href="search-sort-filter-variant-a">Filter variant A</a></li>
              <li><a href="search-sort-filter-variant-b">Filter variant B (does not include the search functionality)</a></li>
            </ol>
          </ul>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Known limitations and issues
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>Maximum of three carriers can be added</li>
            <li>Maximum of three transit destinations can be added</li>
          </ul>
      </div>
    </dl>

    {{ govukInsetText({
      html: "<strong>Full on-boarding journey</strong> this includes Government Gateway and Defra ID account creation"
    }) }}
    
    <form class="form" method="post">
      {{ govukButton({
        text: 'Start from invitation email',
        classes: "govuk-!-margin-bottom-4"
      }) }}
    </form>

    {{ govukInsetText({
      html: "<strong>Partial journey</strong> assumes Defra ID account has previously been created"
    }) }}
    #}
    {{ govukButton({
      text: 'Start from Defra ID sign in',
      classes: "govuk-!-margin-bottom-6",
      href: 'login'
    }) }}
{#
    <h2 class="govuk-heading-l govuk-!-margin-top-8">
      Research
    </h2>
       
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Session dates
        </dt>
        <dd class="govuk-summary-list__value">
          7 Jun 2021 - 13 Jun 2021
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Participants
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li>7 agency officers (experienced), one with BSL as first language</li>
            <li>1 participant made use of Dragon</li>
        </dd>
      </div>
      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Insights
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="#">Round 4 research findings</a>
        </dd>
      </div>
    </dl>
    #}
  </div>
</div>

{% endblock %}
