{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  What is the final recovery or disposal code? - Export green list waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l">
              What is the final recovery or disposal code?
            </label>
          </h1>
          <div id="recovery-operation-final-typeahead-container" data-default-value="{{ data['recovery-operation-final-typeahead'] }}">
          </div>
        </div>

        {{ govukButton({
          text: 'Save and continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
