{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  Submit a waste export - Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}

  {{ govukBackLink({
    text: 'Back',
    href: 'dashboard'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Submit a waste export
      </h1>

      <ol class="app-task-list">

        {# ABOUT THE WASTE #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> About the waste
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Waste identification details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Quantity of waste
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Collection date and location
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
          </ul>
        </li>

        {# EXPORTER AND IMPORTER DETAILS #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Exporter and importer details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Person arranging the export
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Importer or consignee
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
          </ul>
        </li>

        {# TRANSPORT OF WASTE #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Transport of waste
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Countries the waste will travel through
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Waste carriers
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
          </ul>
        </li>

        {# RECOVERY OR DISPOSAL OF WASTE #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Recovery or disposal of waste
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Recovery or disposal code
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Recovery facility or laboratory
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
          </ul>
        </li>

        {# ADDITIONAL INFORMATION #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Additional information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Container number
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Vehicle registration number
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Point of exit from the United Kingdom
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Reference number
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Not started</strong>
            </li>
          </ul>
        </li>

        {# SUBMIT #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Check your answers
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-and-generate-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

      </ol>
    </div>

    {# Right hand side action panel #}
    <div class="govuk-grid-column-one-third">
      <div class="app-step-nav-related">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Actions</span>
          {#<p class="govkuk-body app-step-nav__paragraph">Here are a list of actions that can be applied to the current submission.</p>#}
          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Save submission as a draft</a>
            </li>
            <li>
              <a href="#">Cancel this submission</a>
            </li>
          </ul>
        </h2>
      </div>
    </div>

  </div>

{% endblock %}
