{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  Provide waste identification details - Export green list waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provide waste identification details
      </h1>
      
      <form class="form" method="post">
        
        {# Relevent code #}
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="combinedWasteCodes-typeahead-container">
            Select the relevant code
          </label>
          <div id="combinedWasteCodes-typeahead-hint" class="govuk-hint">
            This could be a:
            <ul class="govuk-list--spaced">
              <li>Basel Annex XI code starting with the letter B. For example, B3011</li>
              <li>OECD code starting with the letter G. For example, GC010 (these codes are only relevant if you do not have a Basel Annex XI code)</li>
              <li>Annex IIIA code which are for specific mixtures of waste listed in Annex III</li>
              <li>Annex IIIB code which are for additional green list waste awaiting inclusion into relevant regulation annexes</li>
            </ul>
          </div>
          <div id="combinedWasteCodes-typeahead-container" data-default-value="{{ data['combinedWasteCodes-typeahead'] }}">
          </div>
        </div>

        {# EC list #}
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="ec-wastes-typeahead-container">
            Select an EC list of waste code (optional)
          </label>
          <div id="ec-wastes-typeahead-container-hint" class="govuk-hint">
            This is also known as an EWC. For example, 19 12 01.
          </div>
          <div id="ec-wastes-typeahead-container" data-default-value="{{ data['ec-wastes-typeahead'] }}">
          </div>
        </div>

        {# National code #}
        <div class="govuk-form-group">
          <label class="govuk-label--s" for="national-code-typeahead-container">
            Select a national code (optional)
          </label>
          <div id="national-code-typeahead-hint" class="govuk-hint">
            This is also known as a commodity code and is not required by UK regulators.
          </div>
          <div id="national-code-typeahead-container" data-default-value="{{ data['national-code-typeahead'] }}">
          </div>
        </div>        

        {# Description #}
        {{ govukCharacterCount({
          name: "usual-description",
          id: "usual-description",
          value: data['usual-description'],
          maxlength: 200,
          label: {
            text: "Enter a description about the codes you've selected",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "You should include things like the type of waste and its form."
          }
        }) }}

        {{ govukButton({
          text: 'Save and continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
