
{% extends "../layouts/alpha-assessment-agency-officer.html" %}

{% block pageTitle %}
  Alert: Transaction number 817435283 - Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  <!-- HMRC PATTERN : ACCOUNT MENU -->
  <nav id="secondary-nav" class="hmrc-account-menu" aria-label="Account" data-module="hmrc-account-menu">
    <a href="dashboard" class="hmrc-account-menu__link hmrc-account-menu__link--home hmrc-account-menu__link--active">
      <span class="hmrc-account-icon hmrc-account-icon--home">
        Dashboard home </span>
    </a>
  </nav>
  <!-- END ACCOUNT MENU -->
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="border-color: #d4351c !important">
        <div class="govuk-notification-banner__header" style="background-color: #d4351c !important">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            View alerts for this export
          </p>
          <p classe="govuk-body">
            <a class="govuk-notification-banner__link" href="#prohibited-destination">Prohibited destination for green list waste</a>
          </p>
          <p classe="govuk-body govuk-!-margin-top-2">
            <a class="govuk-notification-banner__link" href="#remove-alerts">Remove alerts</a>
          </p>
        </div>
      </div>

      <h1 class="govuk-heading-l">
        Transaction number 817435283
      </h1>

      <!--===================================-->
      <!-- PERSON ARRANGING SHIPMENT HEADING -->
      <!--===================================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Person arranging the export
          </dt>
        </div>
      </dl>

      <!-- PERSON ARRANGING SHIPMENT - Carrier details -->
      <h3 class="govuk-heading-s">
        Name and address
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Euromovement Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Unit 15, Berryedge Park<br>
            Dunstable<br>
            LU5 4AX
          </dd>
        </div>
      </dl>

      <!-- PERSON ARRANGING SHIPMENT - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Gary Squires
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            gary.squires@euromovement.com
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            01790 243 3921
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>

      <!--============================-->
      <!-- IMPORTER/CONSIGNEE HEADING -->
      <!---===========================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Importer or consignee
          </dt>
        </div>
      </dl>

      <!-- IMPORTER/CONSIGNEE - Carrier details -->
      <h3 class="govuk-heading-s">
        Name and address
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Bulk Papers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            31st Floor, Rajbhavan Road<br>
            Khairatabad<br>
            Hyderabad<br>
            Andhra Pradesh<br>
            500004<br>
            India
          </dd>
        </div>
      </dl>

      <!-- IMPORTER/CONSIGNEE - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>
      
      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Sakari Bhavsar
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            sakari.bhavsar@bulkpapers.in
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0091 98144 21012
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>

      <!--==========-->
      <!-- QUANTITY -->
      <!--==========-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Quantity
          </dt>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Weight
          </dt>
          <dd class="govuk-summary-list__value">
            12 Cubic metres (m³)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Actual or estimated
          </dt>
          <dd class="govuk-summary-list__value">
            Estimated quantity
          </dd>
        </div>
      </dl>

      <!--=========================-->
      <!-- ACTUAL DATE OF SHIPMENT -->
      <!---========================-->
      <h2 class="govuk-heading-m">
        Date waste will be picked up
      </h2>
      
      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Date
          </dt>
          <dd class="govuk-summary-list__value">
            1 June 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Actual or estimated
          </dt>
          <dd class="govuk-summary-list__value">
            Actual date
          </dd>
        </div>
      </dl>

      <!--=======================-->
      <!-- FIRST CARRIER HEADING -->
      <!--=======================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Carrier 1
          </dt>
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            First carrier details?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, the details are of the first carrier
          </dd>
        </div>
      </dl>

      <!-- FIRST CARRIER - Carrier details -->
      <h3 class="govuk-heading-s">
        Carrier name and address
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Complete CMA Shipping Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            32 Carriers Road<br>
            Crofts of Buinach<br>
            IV30 1AZ
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Means of transport
          </dt>
          <dd class="govuk-summary-list__value">
            Road
          </dd>
        </div>
      </dl>

      <!-- FIRST CARRIER - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Bob Walker
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            bob.walker@ccma.co.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0708 4528089
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>

      <!--=========================-->
      <!-- WASTE GENERATOR HEADING -->
      <!--=========================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Waste collection point
          </dt>
        </div>
      </dl>

      <!-- WASTE GENERATOR - Carrier details -->
      <h3 class="govuk-heading-s">
        Name and address
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Perfect Print Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            120 South Street<br>
            Moelfre<br>
            Derbyshire<br>
            DE1 7LX
          </dd>
        </div>
      </dl>

      <!-- WASTE GENERATOR - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Thomas Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            contact@perfectprint.ltd.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0702 859 8430
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>

      <!--=========================================-->
      <!-- RECOVERY FACILITY OR LABORATORY HEADING -->
      <!--=========================================-->
      <div style="border-left: solid 5px; padding-left: 15px; color: #d4351c">
        <dl class="govuk-summary-list" id="prohibited-destination">
          <div class="govuk-summary-list__row">
            <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
              Recovery facility
            </dt>
          </div>
        </dl>
        <span id="passport-issued-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Prohibited destination for green list waste
        </span>
        <!-- RECOVERY FACILITY OR LABORATORY - Details -->
        <h3 class="govuk-heading-s">
          Recovery facility name and address
        </h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Bulk Papers
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              31st Floor, Rajbhavan Road<br>
              Khairatabad<br>
              Hyderabad<br>
              Andhra Pradesh<br>
              500004<br>
              India
            </dd>
          </div>
        </dl>
         <!-- RECOVERY FACILITY OR LABORATORY - Contact details -->
        <h3 class="govuk-heading-s">
          Contact person and contact details
        </h3>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Sakari Bhavsar
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              sakari.bhavsar@bulkpapers.in
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              0091 98144 21012
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Fax number
            </dt>
            <dd class="govuk-summary-list__value">
              Not provided
            </dd>
          </div>
        </dl>
      </div>

      <!--====================-->
      <!-- RECOVERY OPERATION --> 
      <!---===================-->
      <h2 class="govuk-heading-m govuk-!-padding-top-6">
        Recovery or disposal code
      </h2>
      
      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            R-code/D-code
          </dt>
          <dd class="govuk-summary-list__value">
            R12: Exchange of wastes for submission to any of the operations numbered R01 to R11
          </dd>
        </div>
      </dl>

      <!--===================-->
      <!-- USUAL DESCRIPTION -->
      <!--===================-->
      <h2 class="govuk-heading-m" id="usual-description">
        Description of the waste
      </h2>
      
      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            Paper scrap - OCC
          </dd>
        </div>
      </dl>

      <!--==============================-->
      <!-- WASTE IDENTIFICATION HEADING -->
      <!--==============================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Waste identification codes
          </dt>
        </div>
      </dl>
      
      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Basel Annex IX
          </dt>
          <dd class="govuk-summary-list__value">
            B3020: Paper, paperboard and paper product wastes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            OECD code
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Annex IIIA
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Annex IIIB
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            EC list of wastes
          </dt>
          <dd class="govuk-summary-list__value">
            150101: paper and cardboard packaging
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            National code
          </dt>
          <dd class="govuk-summary-list__value">
            47079000
          </dd>
        </div>
      </dl>

      <!--==========================-->
      <!-- COUNTRIES/STATES HEADING --> 
      <!--==========================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Countries the waste will travel through
          </dt>
        </div>
      </dl>
      
      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Exporting country
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom (GB)
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Transit country (or countries)
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Importing country
          </dt>
          <dd class="govuk-summary-list__value">
            India (IN)
          </dd>
        </div>
      </dl>

      <!--===================-->
      <!--  CONTAINER NUMBER -->
      <!--===================-->
      <h2 class="govuk-heading-m" id="check-transaction-id">
        Container number
      </h2>
      
      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Container number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>

      <!--=================-->
      <!-- TRANSACTION IDs -->
      <!--=================-->
      <h2 class="govuk-heading-m" id="check-transaction-id">
        Transaction number
      </h2>
      
      <dl class="govuk-summary-list govuk-!-padding-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Transaction number
          </dt>
          <dd class="govuk-summary-list__value">
            HDJ2123F
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Reference number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>

      <form class="form" method="post">

        <h2 class="govuk-heading-l" id="remove-alerts">Do you want to remove alerts from this export?</h2>

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "alert-status-one",
          name: "alert-status-one",
          fieldset: {
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: 'Confirm'
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
