
{% extends "../layouts/alpha-assessment-agency-officer.html" %}

{% block pageTitle %}
  Generating report - Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  <!-- HMRC PATTERN : ACCOUNT MENU -->
  <nav id="secondary-nav" class="hmrc-account-menu" aria-label="Account" data-module="hmrc-account-menu">
    <a href="dashboard" class="hmrc-account-menu__link hmrc-account-menu__link--home hmrc-account-menu__link--active">
      <span class="hmrc-account-icon hmrc-account-icon--home">
        Dashboard home </span>
    </a>
  </nav>
  <!-- END ACCOUNT MENU -->
{% endblock %}

{% block content %}

  <script language="javascript" type="text/javascript">
    window.setTimeout('location.replace("report-generated")',2500);
  </script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body-l spinner-text">
        Your report is now being generated...
      </p>
    </div>
  </div>

  <div class="spinner"></div>

{% endblock %}
