
{% extends "../layouts/layout-agency-officer-v3.html" %}

{% block pageTitle %}
  Alert: Transaction number 817435283 - Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  <!-- HMRC PATTERN : ACCOUNT MENU -->
  <nav id="secondary-nav" class="hmrc-account-menu" aria-label="Account" data-module="hmrc-account-menu">
    <a href="dashboard" class="hmrc-account-menu__link hmrc-account-menu__link--home hmrc-account-menu__link--active">
      <span class="hmrc-account-icon hmrc-account-icon--home">
        Dashboard home </span>
    </a>
  </nav>
  <!-- END ACCOUNT MENU -->
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Transaction 817435283 alerts
      </h1>

      {#{{ govukWarningText({
        text: "This submission has 2 alerts that require your attention.",
        iconFallbackText: "Alerts"
      }) }}#}

      <div class="govuk-inset-text govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-margin-bottom-9" style="border-color: #d4351c; background: #f4ccc6 !important">
        This submission has 2 alerts that require your attention.
      </div>

      {# #}

      <form class="form" method="post">
        <div class="govuk-form-group">

          <h2 class="govuk-heading-l">
            Named exporter, broker, or dealer is under investigation
          </h2>
          <div id="exporter-alert" class="govuk-inset-text">
            <p class="govkuk-!-body">Details of alert:</p>
            <p class="govkuk-!-body govuk-!-font-weight-bold">Euromovement Limited<br>Unit 15, Berryedge Park<br>Dunstable<br>LU5 4AX</p>
          </div>
          {#{{ govukDetails({
            summaryText: "Details of alert",
            html:
              "<p class='govuk-!-font-weight-regular'>The named exporter, broker or dealer is under investigation:</p><p class='govuk-!-font-weight-bold'>Euromovement Limited<br>Unit 15, Berryedge Park<br>Dunstable<br>LU5 4AX</p>"
          }) }}#}
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-9" aria-describedby="exporter-alert">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-4">
              <h2 class="govuk-fieldset__heading">
                What would you like to do with this alert?
              </h2>
            </legend>  
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-suppress-exporter">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Suppress under investigation alert
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-suppress-exporter">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Reason for suppressing this alert
                  </label>
                  <input class="govuk-input" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Do not suppress
                </label>
              </div>
            </div>
          </fieldset>

          {#<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">#}

          <h2 class="govuk-heading-l">
            Submitted less than 3 days ahead of shipment
          </h2>
          <div class="govuk-inset-text">
            <p class="govkuk-!-body">Date submitted: <span class='govuk-!-font-weight-bold'>2 June 2021</span></p>
            <p class="govkuk-!-body">Date waste picked up: <span class='govuk-!-font-weight-bold'>4 June 2021</span></p>
          </div>
          {# {{ govukDetails({
            summaryText: "Details of alert",
            html:
              "<p class='govuk-!-font-weight-regular'>Date submitted: <span class='govuk-!-font-weight-bold'>2 June 2021</span></p>
              <p class='govuk-!-font-weight-regular'>Date waste picked up: <span class='govuk-!-font-weight-bold'>4 June 2021</span></p>"
          }) }}#}
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-9" aria-describedby="shipment-date-alert">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-!-margin-bottom-4">
              <h2 class="govuk-fieldset__heading">
                What would you like to do with this alert?
              </h2>
            </legend>  
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-suppress-date-alert">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Suppress shipment date alert
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-suppress-date-alert">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Reason for suppressing this alert
                  </label>
                  <input class="govuk-input" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Do not suppress
                </label>
              </div>
            </div>
          </fieldset>    

        </div>

        {{ govukButton({
          text: 'Confirm'
        }) }}

      </form>

    </div>

    {# Right hand side action panel #}
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">View transaction details</span>
          <p class="govkuk-body app-step-nav__paragraph">View full transaction details.</p>
          <a href="alert-817435283-detail">
            View transaction details
          </a>
        </h2>
      </div>

    </div>


  </div>

{% endblock %}
