{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  Describe the waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" action="" method="post">

      <h1 class="govuk-heading-l">
        Describe the waste
      </h1>


        <div class="govuk-character-count govuk-!-margin-bottom-6" data-module="govuk-character-count" data-maxlength="200">
          <div class="govuk-form-group">
            <p class="govuk-body">Your description could include things like:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>international specification or grade (for example, EN643 2.05.00 for paper)</li>
              <li>polymer type for plastic (for example, LPDE film)</li>
            </ul>

            <div class="govuk-form-group">
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>

        </div>
        </div>

        {{ govukButton({
          text: 'Save and continue'
        }) }}

        {% include "./includes/return-to-link.html" %}


      </form>

    </div>
  </div>

{% endblock %}
