{% extends "../layouts/alpha-assessment-exporter.html" %}

{% block pageTitle %}
  Uploading your spreadsheet - Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
{% endblock %}

{% block content %}

  <script language="javascript" type="text/javascript">
    window.setTimeout('location.replace("confirmation")',5000);
  </script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body-l spinner-text">
        Uploading your spreadsheet.
      <br>
        This may take a few moments...
      </p>
    </div>
  </div>

  <div class="spinner"></div>

{% endblock %}
