
{% extends "../layouts/alpha-assessment-exporter.html" %}

{% block pageTitle %}
  Home - Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  
{% endblock %}

{% block content %}
  <script>
    req.session.data.error = "";
  </script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">
        Export green list waste
      </span>
      <h1 class="govuk-heading-xl">
        Home
      </h1>
      
    </div>
  </div>

  <div class="flex-container grid-row">
    <div class="card">
      <div class="card-body active">
        <h2 class="heading-medium card-heading"><a href="manual-bulk-api">Tell us about a new waste export</a></h2>
      </div>

      <div class="card-action">
        This will create an Annex VII for you to print out.
      </div> 
    </div>

    <div class="card">
      <div class="card-body active">
        <h2 class="heading-medium card-heading"><a href="update-prenotifications">Update exports awaiting final details</a></h2>
      </div>

      <div class="card-action">
        Add new information about weight, date of transport, or carrier details.
      </div> 
    </div>

    <div class="card">
      <div class="card-body active">
        <h2 class="heading-medium card-heading"><a href="submitted-prenotifications">View all submitted exports</a></h2>
      </div>

      <div class="card-action">
        Search and view previous waste exports.
      </div> 
    </div>
  
    <div class="card">
      <div class="card-body active">
        <h2 class="heading-medium card-heading"><a href="prenotification-templates">Your favourite exports</a></h2>
      </div>

      <div class="card-action">
        Start a new export using a saved template.
      </div> 
    </div>
  </div>

{% endblock %}
