{% extends "../layouts/alpha-assessment-exporter.html" %}

{% block pageTitle %}
  Who is the importer or consignee? - Export green list waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Who is the importer or consignee?
      </h1>

      <p class="govuk-body govuk-!-padding-bottom-2">
        The importer or consignee takes responsibility for importing the waste into the destination country.
      </p>

      <form class="form" method="post">
        
        {{ govukInput({
          label: {
            text: "Name of importer or consignee",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "importer-company-name",
          name: "importer-company-name",
          value: data['importer-company-name']
        }) }}

        {% call govukFieldset({
          legend: {
            text: "Address",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "importer-company-address-line-1",
            name: "importer-company-address-line-1",
            value: data['importer-company-address-line-1'],
            autocomplete: "address-line1"
          }) }}
        
          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: "importer-company-address-line-2",
            name: "importer-company-address-line-2",
            value: data['importer-company-address-line-2'],
            autocomplete: "address-line2"
          }) }}
        
          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "importer-company-address-town",
            name: "importer-company-address-town",
            value: data['importer-company-address-town'],
            autocomplete: "address-level2"
          }) }}
        
          {{ govukInput({
            label: {
              text: "Region, state or county"
            },
            classes: "govuk-!-width-two-thirds",
            id: "importer-company-address-county",
            name: "importer-company-address-county",
            value: data['importer-company-address-county']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Postcode or ZIP code"
            },
            classes: "govuk-input--width-10",
            id: "importer-company-address-postcode",
            name: "importer-company-address-postcode",
            value: data['importer-company-address-postcode'],
            autocomplete: "postal-code"
          }) }}
        
          {{ govukInput({
            label: {
              text: "Country"
            },
            classes: "govuk-!-width-two-thirds govuk-!-margin-bottom-4",
            id: "importer-company-address-country",
            name: "importer-company-address-country",
            value: data['importer-company-address-country']
          }) }} 
        
        {% endcall %}

        {% call govukFieldset({
          legend: {
            text: "Contact person",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}
        
        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "importer-contact-full-name",
          name: "importer-contact-full-name",
          value: data['importer-contact-full-name'],
          autocomplete: "name",
          spellcheck: false
        }) }}

        {% endcall %}
        
        {% call govukFieldset({
          legend: {
            text: "Contact details",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

        {{ govukInput({
          id: "importer-email",
          name: "importer-email",
          type: "email",
          spellcheck: false,
          value: data['importer-email'],
          label: {
            text: "Email address"
          }
        }) }}
      
        {{ govukInput({
          id: "importer-telephone",
          name: "importer-telephone",
          type: "tel",
          value: data['importer-telephone'],
          classes: "govuk-input--width-20",
          label: {
            text: "Telephone number"
          }
        }) }}
      
        {{ govukInput({
          id: "importer-fax",
          name: "importer-fax",
          value: data['importer-fax'],
          type: "tel",
            classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
            label: {
              text: "Fax number (optional)"
          }
        }) }}

        {% endcall %}

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
