{% extends "../layouts/alpha-assessment-exporter.html" %}

{% block pageTitle %}
  What are the relevant waste identification codes? - Export green list waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What are the relevant waste identification codes?
      </h1>
      
      <p class="govuk-body">
        You only need to fill in the relevant codes.
      </p>

      <form class="form" method="post">
        
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label--m">
              Basel Annex IX
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            B code, e.g. B3011 or B3020
          </div>
          <div id="basel-annex-ix-typeahead-container" data-default-value="{{ data['basel-annex-ix-typeahead'] }}">
          </div>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label--m">
              OECD (if different from Basel Annex IX)
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            G code, e.g. GC010 or GG030
          </div>
          <div id="oecd-typeahead-container" data-default-value="{{ data['oecd-typeahead'] }}">
          </div>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label--m">
              Annex IIIA
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            Specific mixtures of wastes listed in Annex III
          </div>
          <div id="annex-iiia-typeahead-container" data-default-value="{{ data['annex-iiia-typeahead'] }}">
          </div>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label--m">
              Annex IIIB
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            Additional green list waste awaiting inclusion into relevant regulation annexes
          </div>
            <div id="annex-iiib-typeahead-container" data-default-value="{{ data['annex-iiib-typeahead'] }}">
          </div>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label--m">
              EC list of wastes
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            EWC, e.g. 19 12 01
          </div>
            <div id="ec-wastes-typeahead-container" data-default-value="{{ data['ec-wastes-typeahead'] }}">
          </div>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label--m">
              National code
            </label>
          </h1>
          <div id="event-name-hint" class="govuk-hint">
            Commodity codes, not required by UK Regulators
          </div>
            <div id="national-code-typeahead-container" data-default-value="{{ data['national-code-typeahead'] }}">
          </div>
        </div>        

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
