{% extends "../layouts/alpha-assessment-exporter.html" %}

{% block pageTitle %}
  Where will the first carrier pick up the waste from? - Export green list waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Where will the first carrier pick up the waste from?
      </h1>

      <p class="govuk-body govuk-!-padding-bottom-2">
        This could be the site of the original producer, new producer, or collector.
      </p>

      <form class="form" method="post">

        {{ govukInput({
          label: {
            text: "Name",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          hint: {
            text: "Waste generator, original producer, new producer, or collector"
          },
          id: "waste-generator-company-name",
          name: "waste-generator-company-name"
        }) }}

        {% call govukFieldset({
          legend: {
            text: "Address",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {{ govukInput({
            label: {
              html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
            },
            id: "waste-generator-address-line-1",
            name: "waste-generator-address-line-1",
            value: data['waste-generator-address-line-1'],
            autocomplete: "address-line1"
          }) }}
        
          {{ govukInput({
            label: {
              html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
            },
            id: "waste-generator-address-line-2",
            name: "waste-generator-address-line-2",
            value: data['waste-generator-address-line-2'],
            autocomplete: "address-line2"
          }) }}
        
          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "waste-generator-address-town",
            name: "waste-generator-address-town",
            value: data['waste-generator-address-town'],
            autocomplete: "address-level2"
          }) }}
        
          {{ govukInput({
            label: {
              text: "County"
            },
            classes: "govuk-!-width-two-thirds",
            id: "waste-generator-address-county",
            name: "waste-generator-address-county",
            value: data['waste-generator-address-county']
          }) }}
        
          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "waste-generator-address-postcode",
            name: "waste-generator-address-postcode",
            value: data['waste-generator-address-postcode'],
            autocomplete: "postal-code"
          }) }}

          {{ govukRadios({
            classes: "govuk-radios--small",
            idPrefix: "waste-generator-address-country",
            name: "waste-generator-address-country",
            fieldset: {
              legend: {
                text: "Country",
                isPageHeading: false
              }
            },
            items: [
              {
                value: "england",
                text: "England",
                checked: checked("waste-generator-address-country", "england")
              },
              {
                value: "northernireland",
                text: "Northern Ireland",
                checked: checked("waste-generator-address-country", "northernireland")
              },
              {
                value: "scotland",
                text: "Scotland",
                checked: checked("waste-generator-address-country", "scotland")
              },
              {
                value: "wales",
                text: "Wales",
                checked: checked("waste-generator-address-country", "wales")
              }
            ]
          }) }}
      
        {% endcall %}

        {% call govukFieldset({
          legend: {
            text: "Contact person",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}
        
        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "waste-generator-contact-full-name",
          name: "waste-generator-contact-full-name",
          value: data['waste-generator-contact-full-name'],
          autocomplete: "name",
          spellcheck: false
        }) }}

        {% endcall %}

        {% call govukFieldset({
          legend: {
            text: "Contact details",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

        {{ govukInput({
          id: "waste-generator-email",
          name: "waste-generator-email",
          type: "email",
          spellcheck: false,
          value: data['waste-generator-email'],
          label: {
            text: "Email address"
          }
        }) }}
        
        {{ govukInput({
          id: "waste-generator-telephone",
          name: "waste-generator-telephone",
          type: "tel",
          value: data['waste-generator-telephone'],
          classes: "govuk-input--width-20",
          label: {
            text: "Telephone number"
          }
        }) }}
        
        {{ govukInput({
          id: "waste-generator-fax",
          name: "waste-generator-fax",
          value: data['waste-generator-fax'],
          type: "tel",
          classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
          label: {
            text: "Fax number (optional)"
          }
        }) }}

        {% endcall %}

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
