{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  Check your answers - Export green list waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Transaction number 919709788
      </h1>

      <!--===================================-->
      <!-- PERSON ARRANGING SHIPMENT HEADING -->
      <!--===================================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Person arranging the export
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
            <a class="govuk-link" href="who-arranged-shipment-details">
              Change<span class="govuk-visually-hidden"> person arranging export</span>
            </a>
          </dd> 
        </div>
      </dl>

      <!-- PERSON ARRANGING SHIPMENT - Carrier details -->

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Euromovement Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Unit 15, Berryedge Park<br>
            Dunstable<br>
            LU5 4AX<br>
            England
          </dd>
        </div>
      </dl>

      <!-- PERSON ARRANGING SHIPMENT - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Gary Squires
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            gary.squires@euromovement.com
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            01790 243 3921
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--============================-->
      <!-- IMPORTER/CONSIGNEE HEADING -->
      <!--============================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Importer or consignee
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
            <a class="govuk-link" href="importer-consignee">
              Change<span class="govuk-visually-hidden"> importer or consignee</span>
            </a>
          </dd> 
        </div>
      </dl>

      <!-- IMPORTER/CONSIGNEE - Carrier details -->

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Bulk Papers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            31st Floor, Rajbhavan Road<br>
            Khairatabad<br>
            Hyderabad<br>
            Andhra Pradesh<br>
            500004<br>
            India
          </dd>
        </div>
      </dl>

      <!-- IMPORTER/CONSIGNEE - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Sakari Bhavsar
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            sakari.bhavsar@bulkpapers.in
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0091 98144 21012
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--==========-->
      <!-- QUANTITY -->
      <!--==========-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Quantity of waste
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
            <a class="govuk-link" href="quantity">
              Change<span class="govuk-visually-hidden"> quantity of waste</span>
            </a>
          </dd> 
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Weight
          </dt>
          <dd class="govuk-summary-list__value">
            12 Tonnes or megagrams (Mg)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Actual or estimated
          </dt>
          <dd class="govuk-summary-list__value">
            Estimated quantity
          </dd>
        </div>
      </dl>
      <br><br>

      <!--=========================--> 
      <!-- ACTUAL DATE OF SHIPMENT -->
      <!--=========================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
          Waste pick up date
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
            <a class="govuk-link" href="date-of-shipment">
              Change<span class="govuk-visually-hidden"> date waste will be picked up</span>
            </a>
          </dd> 
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date
          </dt>
          <dd class="govuk-summary-list__value">
            1 June 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Actual or estimated
          </dt>
          <dd class="govuk-summary-list__value">
            Estimated date
          </dd>
        </div>
      </dl>
      <br><br>

      <!--=======================-->
      <!-- FIRST CARRIER HEADING -->
      <!--=======================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            First carrier
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
            <a class="govuk-link" href="carrier-add-1">
              Change<span class="govuk-visually-hidden"> carriers</span>
            </a>
          </dd> 
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Carrier name and address?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, the details are of the first carrier
          </dd>
        </div>
      </dl>

      <!-- FIRST CARRIER - Carrier details -->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Complete CMA Shipping Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            32 Carriers Road<br>
            Crofts of Buinach<br>
            IV30 1AZ<br>
            Scotland
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Means of transport
          </dt>
          <dd class="govuk-summary-list__value">
            Road
          </dd>
        </div>
      </dl>

      <!-- FIRST CARRIER - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Bob Walker
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            bob.walker@ccma.co.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0708 4528089
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--=========================-->
      <!-- WASTE GENERATOR HEADING -->
      <!--=========================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Waste pick up location
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
            <a class="govuk-link" href="waste-generator">
              Change<span class="govuk-visually-hidden"> waste pick up location</span>
            </a>
          </dd> 
        </div>
      </dl>

      <!-- WASTE GENERATOR - Carrier details -->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Perfect Print Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            120 South Street<br>
            Moelfre<br>
            Derbyshire<br>
            DE1 7LX<br>
            England
          </dd>
        </div>
      </dl>

      <!-- WASTE GENERATOR - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Thomas Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            contact@perfectprint.ltd.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0702 859 8430
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--=========================================-->
      <!-- RECOVERY FACILITY OR LABORATORY HEADING -->
      <!--=========================================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Recovery facility
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
            <a class="govuk-link" href="recovery-facility-laboratory">
              Change<span class="govuk-visually-hidden"> recovery facility or laboratory</span>
            </a>
          </dd> 
        </div>
      </dl>

      <!-- RECOVERY FACILITY OR LABORATORY - Details -->
      

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Bulk Papers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            31st Floor, Rajbhavan Road<br>
            Khairatabad<br>
            Hyderabad<br>
            Andhra Pradesh<br>
            500004<br>
            India
          </dd>
        </div>
      </dl>

      <!-- RECOVERY FACILITY OR LABORATORY - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Sakari Bhavsar
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            sakari.bhavsar@bulkpapers.in
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0091 98144 21012
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--====================-->
      <!-- RECOVERY OPERATION --> 
      <!--====================-->
      <h2 class="govuk-heading-m">
        Recovery or disposal code
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            R-code/D-code
          </dt>
          <dd class="govuk-summary-list__value">
            R12: Exchange of wastes for submission to any of the operations numbered R01 to R11
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="recovery-operation">
              Change<span class="govuk-visually-hidden"> Recovery operation</span>
            </a>
          </dd> 
        </div>
      </dl>
      <br><br>

      <!--===================-->
      <!-- USUAL DESCRIPTION -->
      <!--===================-->
      <h2 class="govuk-heading-m">
        Waste description
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            Paper scrap - OCC
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="usual-description">
              Change<span class="govuk-visually-hidden"> waste description</span>
            </a>
          </dd> 
        </div>
      </dl>
      <br><br>

      <!--==============================-->
      <!-- WASTE IDENTIFICATION HEADING -->
      <!--==============================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Waste identification codes
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
            <a class="govuk-link" href="waste-identification-codes">
              Change<span class="govuk-visually-hidden"> waste identification</span>
            </a>
          </dd> 
        </div>
      </dl>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Basel Annex IX
          </dt>
          <dd class="govuk-summary-list__value">
            B3020: Paper, paperboard and paper product wastes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            OECD code
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Annex IIIA
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Annex IIIB
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            EC list of wastes
          </dt>
          <dd class="govuk-summary-list__value">
            150101: paper and cardboard packaging
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            National code
          </dt>
          <dd class="govuk-summary-list__value">
            47079000
          </dd>
        </div>
    </dl>
    <br><br>

      <!--==========================-->
      <!-- COUNTRIES/STATES HEADING --> 
      <!--==========================-->
      <dl class="govuk-summary-list" id="countries-concerned">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Countries the waste will travel through
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
            <a class="govuk-link" href="countries-states-concerned">
              Change<span class="govuk-visually-hidden"> countries/states concerned</span>
            </a>
          </dd> 
        </div>
      </dl>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Exporting country
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom (GB)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Transit country (or countries)
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Importing country
          </dt>
          <dd class="govuk-summary-list__value">
            India
          </dd>
        </div>
      </dl>
      <br><br>

      <!--======================-->
      <!--  CONTAINER REFERENCE -->
      <!--======================-->
      <h2 class="govuk-heading-m">
        Container number
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Container number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="container-number">
              Change<span class="govuk-visually-hidden"> consginment number</span>
            </a>
          </dd>
        </div>
      </dl>
      <br><br>

      <!--==================-->
      <!--  TRANSACTION IDs -->
      <!--==================-->
      <h2 class="govuk-heading-m">
        Transaction and reference number
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Transaction number
          </dt>
          <dd class="govuk-summary-list__value">
            919709788
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Reference number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="transaction-id">
              Change<span class="govuk-visually-hidden"> transaction IDs</span>
            </a>
          </dd> 
        </div>
      </dl>
      <br>

      <!--=============-->
      <!-- DECLARATION -->
      <!--=============-->
         
      <p class="govuk-body">Once you confirm and submit:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-padding-bottom-2">
         <li>
          an Annex VII document will be created which you must download, print and sign
        </li>
        <li>
          this Annex VII document must accompany the waste
        </li>
        <li>
          the details you have provided will be sent to the environmental regulator, you do not need to 
          send them a copy of the Annex VII document
        </li>
      </ul>

      <form method="post" novalidate>
        <input type="hidden" name="answers-checked" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Confirm and submit
        </button>
      </form>

    </div>

    {# Right hand side action panel #}
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Save a template using this export</span>
          <p class="govkuk-body app-step-nav__paragraph">Tell us about a green list waste export quicker next time by adding these details to a template.</p>
          <a href="save-as-template">
            Save a template
          </a>
        </h2>
      </div>

      <div class="app-step-nav-related">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Cancel this export</span>
          <p class="govkuk-body app-step-nav__paragraph">Cancel this export prior to it being collected.</p>
          <a href="save-as-template">
            Cancel export
          </a>
        </h2>
      </div>
      
    </div>

  </div>

{% endblock %}
