{% extends "layout.html" %}

{% block pageTitle %}
  Person who is arranging the shipment - Waste tracking service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "are-you-arranging",
          name: "are-you-arranging",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-xl">Shipment information</span>Person arranging the shipment',
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yourself"
            },
            {
              value: "no",
              text: "Someone else"
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Help with person arranging the shipment",
          text: "Supportive help text to help strengthen the purpose of this question."
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
