
{% extends "../layouts/design-iterations-layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
        {{ govukPhaseBanner({
          tag: {
          text: "Prototype"
          },
          html: ''
      }) }}
    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Sprint</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="#">V6</a>
          </td>
          <td class="govuk-table__cell">
            6/7
          </td>
          <td class="govuk-table__cell">
            5 Jul 2021 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/documenting-design-iterations/v5/_index">V5</a>
          </td>
          <td class="govuk-table__cell">
            5/6
          </td>
          <td class="govuk-table__cell">
            7 Jun 2021 - 2 Jul 2021
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Complete
            </strong>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="#">V4</a>
          </td>
          <td class="govuk-table__cell">
            4/5
          </td>
          <td class="govuk-table__cell">
            10 May 2021 - 4 Jun 2021
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Complete
            </strong>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="#">V3</a>
          </td>
          <td class="govuk-table__cell">
            3/4
          </td>
          <td class="govuk-table__cell">
            12 Apr 2021 - 7 May 2021
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Complete
            </strong>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="#">V2</a>
          </td>
          <td class="govuk-table__cell">
            2/3
          </td>
          <td class="govuk-table__cell">
            15 Mar 2021 - 9 Apr 2021
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Complete
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="#">V1</a>
          </td>
          <td class="govuk-table__cell">
            1/2
          </td>
          <td class="govuk-table__cell">
            15 Feb 2021 - 12 Mar 2021
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Complete
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/documenting-design-iterations/stable">Dev</a></li>
          </td>
          <td class="govuk-table__cell">
            
          </td>
          <td class="govuk-table__cell">
           
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Stable
            </strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
