{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
Export green list waste - Guidance information for uploading mulitple waste exports
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Guidance</span>
    <h1 class="govuk-heading-l">Export green list waste: upload multiple exports from a CSV file</h1>
      <p class="govuk-body-l">How to use a comma-separated values (CSV) file when you upload multiple green list waste exports to the Export green list waste service.</p>

      <div class="govuk-!-padding-bottom-3"></div>
      <div class="div-line"> </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <h2 class="govuk-heading-m">
        Document
      </h2>
        <div class="documents-container">
          <div class="file-image-container"><img src="/public/images/icon-guidance-document.png"></div>
          <div class="file-download-details-container">
              <p class="govuk-body-l">Green list waste multiple exports CSV template</p>
              <p class="govuk-body"><b><a href="/public/csv/csv-template.csv" class="govuk-link">Download CSV template (3kb)</a></b></p>
              <p class="govuk-body-s">This file may not be useful for users of assistive technology.</p>
          </div>
        </div>

        <div class="govuk-!-padding-bottom-6"></div>

      <div class="govuk-!-padding-bottom-3"></div>
      <div class="div-line"> </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <h3 class="govuk-heading-m">
        Details
      </h3>
      <p class="govuk-body">Use this template if you want to upload multiple green list waste exports at the same time.</p>

      <p class="govuk-body">It’s important the information you enter is: </p>

      <ol class="govuk-body">
        <li>accurate</li>
        <li>spelled correctly</li>
        <li>formatted correctly</li>
      </ol>

      <p class="govuk-body">Check for errors before you upload your CSV file.</p>


      <p class="govuk-body">
        <a href="bulk-upload.html" class="govuk-link">Upload multiple waste exports</a>
      </p>

    </div>
  </div>

{% endblock %}
