
{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
Export submitted
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version 13 - This is not a live service.
    </span>
  </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
          titleText: "Export details submitted",
          html: "Your transaction numbers are <strong>GLW00001 to GLW00102</strong>"
        }) }}

      <p class="govuk-body govuk-!-padding-top-2">We’ve sent a confirmation email to <b>email@emailaddress.com</b>. </p>

      <p class="govuk-body">We’ve also sent these details to the relevant UK regulatory authority, You do not need to send them anything else.</p>

      <h3 class="govuk-heading-s govuk-!-padding-top-2">
        Updating this export with actual details
      </h3>

        <p class="govuk-body">If you’ve provided estimates, you’ll need to provide actual details as soon as possible. This includes the</p>

          <ul class="govuk-body">
            <li>weight</li>
            <li>collection date</li>
            <li>first carrier</li>
            <li>vehicle or container number</li>
          </ul>

        <h3 class="govuk-heading-s govuk-!-padding-top-2">
          What you must do next
        </h3>

        <p class="govuk-body">It’s a legal requirement that a completed Annex VII form travels with each waste shipment. </p>

        <p class="govuk-body">You can use your own or <a href="#" class="govuk-link">download the Annex VII documents created for these exports</a>. Estimated details will not appear on the downloaded forms. </p>

        <br>

      <p class="govuk-body">
        <a href="dashboard" class="govuk-link">Return to green list waste overview</a>
      </p>

    </div>
  </div>

{% endblock %}
