{% extends "../layouts/layout-exporter-v13.html" %}

{% block pageTitle %}
Export green list waste - Guidance information for uploading mulitple waste exports
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Guidance</span>
    <h1 class="govuk-heading-l">Export green list waste: upload multiple exports from a CSV file</h1>
      <p class="govuk-body-l">How to use a comma-separated values (CSV) file when you upload multiple green list waste exports to the Export green list waste service.</p>

      <div class="govuk-!-padding-bottom-3"></div>
      <div class="div-line"> </div>
      <div class="govuk-!-padding-bottom-3"></div>

      <h3 class="govuk-heading-m">
        Details
      </h3>
      <p class="govuk-body">Use the Green list waste multiple exports CSV template to upload multiple green list waste exports at the same time.</p>

      <p class="govuk-body">For information that is not relevant to an export, enter NA. Do not leave any cells blank. </p>

      <p class="govuk-body">It’s important the information you enter is: </p>

      <ol class="govuk-body">
        <li>accurate</li>
        <li>spelled correctly</li>
        <li>formatted correctly</li>
      </ol>

      <p class="govuk-body">For any information which is not relevant to an export enter 'NA'. Do not leave any sections blank.</p>
      <p class="govuk-body">Check for errors before you upload your CSV file.</p>


      <p class="govuk-body">
        <a href="bulk-upload.html" class="govuk-link">Upload multiple waste exports</a>
      </p>

    </div>
  </div>

{% endblock %}
