  {% extends "../layouts/layout-exporter-v13.html" %}

{% block pageTitle %}
  Do you know the container number? - Export green list waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Do you know the container number?
        </h1>
      </legend>

      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="contact">
            Yes
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-3">
              Enter container number
            </label>
            <div id="event-name-hint" class="govuk-hint">
              For example, DEFR4121514
            </div>
            <input class="govuk-input govuk-!-width-one-third" id="conditional-contact-3" name="contact-by-email" type="text" spellcheck="false">
          </div>

        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-radios__label" for="contact-2">
            No
          </label>
        </div>
      </div>

    </fieldset>
  </div>


  {{ govukButton({
    text: 'Save and continue'
  }) }}
      </form>

    </div>
  </div>

{% endblock %}
