
{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  Home - Export green list waste
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version 13 - This is not a live service.
    </span>
  </p>
</div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="">Waste tracking service</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Green list waste overview
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">




      <h1 class="govuk-heading-xl">
        Green list waste overview
      </h1>

      <h2 class="govuk-heading-m">
        Tell us about an export
      </h2>
        <p class="govuk-body"><a class="govuk-link" href="unique-ref">Submit a single waste export</a></p>
        <p class="govuk-body"><a class="govuk-link" href="template-submit-export-radios.html">Submit a waste export from a template</a></p>
        <p class="govuk-body"><a class="govuk-link" href="bulk-upload.html">Submit multiple exports from a CSV file</a></p>
        <p class="govuk-body"><a class="govuk-link" href="draft-exports">Continue a draft export (6)</a></p>

       <br>
       <br>

      <h2 class="govuk-heading-m">
        All exports
      </h2>
        <p class="govuk-body"><a class="govuk-link" href="update-prenotifications">Update an export with actual details (6)</a></p>
        <p class="govuk-body"><a class="govuk-link" href="submitted-exports">Go to all submitted exports (20)</a></p>

       <br>
       <br>

      <h2 class="govuk-heading-m">
        Templates
      </h2>
        <p class="govuk-body"><a class="govuk-link" href="template-type.html">Create a new template</a></p>
        <p class="govuk-body"><a class="govuk-link" href="prenotification-templates.html">Manage your templates</a></p>

    </div>
  </div>



{% endblock %}
