
{% extends "../layouts/layout-importer-v13.html" %}

{% block pageTitle %}
Import rejected
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version 13 - This is not a live service.
    </span>
  </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        {{ govukPanel({
          titleText: "You have rejected the import",
          html: "Your transaction number is <br><strong>GLW-REJECT-0001</strong>"
        }) }}

        <p class="govuk-body govuk-!-padding-top-2">We’ve sent a confirmation email to <b>email@emailaddress.com</b>. </p>

        <p class="govuk-body">We’ve also sent these details to the relevant UK regulatory authority. You do not need to send them anything else.</p>

        <h2 class="govuk-heading-m govuk-!-padding-top-2">
            What happens next?
        </h2>

        <p class="govuk-body">It’s your responsibility to contact your agency officer and agree with them what you want to do with the waste.</p>

        <p class="govuk-body">Do not move or return the waste until you’ve got approval from them to do this. </p>

        <p class="govuk-body">The contact details are:</p>
  
          <ol class="govuk-list">
            <li class="govuk-body">XX for Northern Ireland</li>
            <li class="govuk-body">XX for Scotland</li>
            <li class="govuk-body">XX for England</li>
            <li class="govuk-body">XX for Wales</li>
          </ol>

          <p class="govuk-body">Have your reference number and Annex VII details ready. You’ll need to provide this information.</p>

          <p class="govuk-!-padding-bottom-4"></p>
  
        <p class="govuk-body">
          <a href="imports-dashboard" class="govuk-link">Return to green list waste overview</a>
        </p>

    </div>
  </div>

{% endblock %}
