

{% extends "../layouts/layout-importer-current.html" %}

{% block pageTitle %}
  Do you want to add your own reference to this import?
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version 13 - This is not a live service.
    </span>
  </p>
  </div>

  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  }) }}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

          

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="reason-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Why do you want to reject the waste import?
                    </h1>
                  </legend>
                  <div id="reason-hint" class="govuk-hint">
                    Select one option.
                  </div>

                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="reason" name="reason" type="radio" value="match" data-aria-controls="conditional-reason">
                      <label class="govuk-label govuk-radios__label" for="reason">
                        Waste does not match Annex VII description
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="reason-by-match">
                            Enter details                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="reason-by-match" name="reason-by-match" type="match" spellcheck="false" autocomplete="match">
                      </div>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="reason-2" name="reason" type="radio" value="contaminated" data-aria-controls="conditional-reason-2">
                      <label class="govuk-label govuk-radios__label" for="reason-2">
                        Waste is contaminated
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason-2">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="reason-by-contaminated">
                            Enter details
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="reason-by-contaminated" name="reason-by-contaminated" type="tel" autocomplete="tel">
                      </div>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="reason-3" name="reason" type="radio" value="waste-type" data-aria-controls="conditional-reason-3">
                      <label class="govuk-label govuk-radios__label" for="reason-3">
                        The recovery facility no longer accepts this waste type
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason-3">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="reason-by-waste-type">
                            Enter details
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="reason-by-waste-type" name="reason-by-waste-type" type="tel" autocomplete="tel">
                      </div>
                    </div>

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="reason-4" name="reason" type="radio" value="contract" data-aria-controls="conditional-reason-4">
                        <label class="govuk-label govuk-radios__label" for="reason-4">
                            There’s no contract in place to accept this waste
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason-4">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="reason-by-contract">
                              Enter details
                          </label>
                          <input class="govuk-input govuk-!-width-one-third" id="reason-else" name="reason-else">
                        </div>
                      </div>

                      <div class="govuk-radios__divider">or</div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="reason-5" name="reason" type="radio" value="else" data-aria-controls="conditional-reason-5">
                        <label class="govuk-label govuk-radios__label" for="reason-5">
                            Something else
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-reason-5">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="reason-else">
                              Enter details
                          </label>
                          <input class="govuk-input govuk-!-width-one-third" id="reason-else" name="reason-else">
                        </div>
                      </div>

                  </div>
                </fieldset>
              </div>

            <form class="form" method="post">
            </form>
              <a href="imports-reject-how-much.html">
                <button class="govuk-button" data-module="govuk-button">
                  Continue
                </button>
              </a>

            

    </div>
  </div>

{% endblock %}
