{% extends "../layouts/layout-importer-current.html" %}

{% block pageTitle %}
  How do you want to submit the waste import? - Green list waste
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        Version 13 - This is not a live service.
      </span>
    </p>
  </div>
  
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    How do you want to submit the waste import?
                </h1>
              </legend>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="imports-create-blank" name="imports-create" type="radio" value="imports-blank" {{ checked("imports-create", "imports-blank") }}>
                  <label class="govuk-label govuk-radios__label" for="imports-create-blank">
                    I will enter it manually
                  </label>
                  <div class="govuk-hint govuk-radios__hint">This is best for a single import</div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="imports-create-exist" name="imports-create" type="radio" value="imports-exist" {{ checked("imports-create", "imports-exist") }}>
                  <label class="govuk-label govuk-radios__label" for="imports-create-exist">
                    I want to use a template
                  </label>
                  <div class="govuk-hint govuk-radios__hint">This is best if you import shipments where most of the details stay 
                    the same</div>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="imports-create-csv" name="imports-create" type="radio" value="imports-csv" {{ checked("imports-create", "imports-csv") }}>
                    <label class="govuk-label govuk-radios__label" for="imports-create-csv">
                        I will upload a CSV file
                    </label>
                    <div class="govuk-hint govuk-radios__hint">This is best if you want to upload multiple waste imports at
                        the same time</div>
                  </div>

              </div>
            </fieldset>
          </div>

          <div class="imports-name-button">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>
        
        </form>

    </div>
  </div>

{% endblock %}
