{% extends "../layouts/layout-importer-v13.html" %}

{% block pageTitle %}
  Green list waste
{% endblock %}

{% block beforeContent %}
<!---------- Phase Banner ---------->
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      Version 13 - This is not a live service.
    </span>
  </p>
  </div>

  <!---------- Breadcrumbs ---------->

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="">Waste tracking service</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="imports-dashboard">Green list waste overview</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="imports-reject-unique-ref">Your reference</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Submit an import
      </li>
    </ol>
  </div>


{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!---- DYNAMIC HEADER SHOW / HIDE REFERENCE ---->

     {% if data ['imports-reject-ref'] == "yes" %}
     <h1 class="govuk-heading-l">
       <span class="govuk-caption-l">Your reference number: {{ data['imports-reject-enter-ref'] }}</span>
       Submit an import
     </h1>
     <p class="govuk-body">You'll be able to check and submit this import once you've completed all the sections.</p>
     {% else %}
     <h1 class="govuk-heading-l">
       Submit an import
     </h1>
     <p class="govuk-body">You'll be able to check and submit this import once you've completed all the sections.</p>
      {% endif %}

     <!---- END DYNAMIC HEADER ---->

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Submission incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 4 of 4 sections.</p>


      <ol class="app-task-list">

        <!------------------ SECTION 1 ------------------------>

        {# ABOUT THE WASTE #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> About the waste
          </h2>
          <ul class="app-task-list__items">

            <!---------- Waste codes and description ---------->

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Waste codes and description
                </a>
              </span>
                <strong class="govuk-tag app-task-list__tag" id="provide-waste-identification-details-status">Completed</strong>
            </li>

            <!---------- Quantity of waste ---------->

            <li class="app-task-list__item">

              <!-- Turns the link on and off -->
              <span class="app-task-list__task-name">
                
                <a href="#" aria-describedby="eligibility-status">
                  Quantity of waste
                </a>
              </span>
                <strong class="govuk-tag app-task-list__tag" id="imports-quantity-status">Completed</strong>

            </li>

          </ul>
        </li>

        <!----------------- SECTION 2 ---------------------->

        {# EXPORTER AND IMPORTER DETAILS #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Exporter and importer
          </h2>
          <ul class="app-task-list__items">

            <!---------- Importer details ---------->

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Exporter details
                </a>
              </span>
                <strong class="govuk-tag app-task-list__tag" id="importer-consignee-status">Completed</strong>
            </li>

            <!---------- Exporter details ---------->

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Importer details
                </a>
              </span>            
                <strong class="govuk-tag app-task-list__tag" id="person-arranging-the-shipment-status">Completed</strong>
            </li>

          </ul>
        </li>

        <!------------------- SECTION 3 ------------------------->

        {# JOURNEY OF WASTE #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Journey of waste
          </h2>
          <ul class="app-task-list__items">

            <!---------- Date of shipment ---------->

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Shipment date
                </a>
                </span>
                <strong class="govuk-tag app-task-list__tag" id="date-of-shipment-status">Completed</strong>
            </li>

            <!---------- Waste carriers ---------->

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Waste carriers
                </a>
              </span>
                <strong class="govuk-tag app-task-list__tag" id="carrier-status">Completed</strong>
            </li>

            <!---------- Waste collection details ---------->

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Waste collection details
                </a>
              </span>
                <strong class="govuk-tag app-task-list__tag" id="waste-generator-original-producer-new-producer-or-collector-status">Completed</strong>
            </li>

            <!---------- Location waste leaves UK ---------->

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="leaving-the-uk">
                  Location waste leaves the UK
                </a>
              </span>
                <strong class="govuk-tag app-task-list__tag" id="countries-states-concerned-status">Completed</strong>
            </li>

            <!---------- Countries waste will travel through ---------->

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="read-declaration-status">
                  Countries waste will travel through
                </a>
              </span>
                <strong class="govuk-tag app-task-list__tag" id="countries-states-concerned-status">Completed</strong>
            </li>
          </ul>
        </li>

        <!--------------------- SECTION 4 ----------------------------->

        {# RECOVERY OR DISPOSAL OF WASTE #}

        <!---------- Recovery or laboratory ---------->

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Treatment of waste
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">

                <!-- Turns the link on and off -->

                  <a href="#" aria-describedby="eligibility-status">
                    Recovery facility or laboratory
                </a>
              </span>

                <strong class="govuk-tag app-task-list__tag" id="recovery-facility-or-laboratory-status">Completed</strong>

            </li>

          </ul>
        </li>

      </ol>

      <!--------------------- SUBMIT ANSWERS ----------------------------->

      <h2 class="govuk-heading-m">Final check</h2>

      <form class="form" method="post"></form>
      <!-- <form action="imports-check-your-answers" method="post" novalidate> -->

       <!--  <input type="hidden" name="answers-checked" value="true"> -->

        <a href="imports-reject-check-your-answers.html"><button class="govuk-button" data-module="govuk-button">
          Check this import
        </button></a>

       <p class="govuk-body"><a class="govuk-link" href="imports-dashboard">Return to this draft later</a></p>


    </div>


  </div>

{% endblock %}
