{% extends "../layouts/layout-importer-v13.html" %}

{% block pageTitle %}
  Describe the waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" action="" method="post">

      <h1 class="govuk-heading-l">
        Describe the waste
      </h1>


        <div class="govuk-character-count govuk-!-margin-bottom-6" data-module="govuk-character-count" data-maxlength="200">
          <div class="govuk-form-group">
            <p class="govuk-body">Give the usual description of the waste. For example, baled PET bottles, bagged HDPE pellets or OCC paper. </p>

            <div class="govuk-form-group">
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="2" aria-describedby="more-detail-hint" maxlength="100"></textarea>
            </div>

        </div>
        </div>

        {{ govukButton({
          text: 'Save and continue'
        }) }}

        {% include "./includes/imports-return-to-link.html" %}


      </form>

    </div>
  </div>

{% endblock %}
