{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
Do you know the location at which the waste will leave the United Kingdom?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" action="" method="post">

              <div class="govuk-form-group">


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Do you know the location at which the waste will leave the UK?
                    </h1>
                  </legend>

                  <p class="govuk-body">For example, a town, port or terminal.</p>

                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="template-exit" name="template-exit" type="radio" value="yes" data-aria-controls="conditional-contact" {{ checked("template-exit", "yes") }}>
                      <label class="govuk-label govuk-radios__label" for="template-exit">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="template-exit-location">
                          Enter location
                        </label>
                        <!-- <div id="contact-hint" class="govuk-hint">
                          This could be a port, airport or Eurotunnel.
                        </div> -->
                        <input class="govuk-input govuk-!-width-two-thirds" id="template-exit-location" name="template-exit-location" type="text" value="{{data['template-exit-location']}}">
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="template-exit-2" name="template-exit" type="radio" value="no" data-aria-controls="conditional-contact-2" {{ checked("template-exit", "no") }}>
                      <label class="govuk-label govuk-radios__label" for="template-exit-2">
                        No
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>

            {{ govukButton({
              text: 'Save and continue'
            }) }}

            {% include "./includes/template-return-to-link.html" %}


          </form>

        </div>
      </div>

    {% endblock %}
