{% extends "../layouts/layout-exporter-v13.html" %}

{% block pageTitle %}
  Where will the first carrier collect the waste from?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">


      <h1 class="govuk-heading-l">
        Where will the first carrier collect the waste from?
      </h1>

      <p class="govuk-body govuk-!-padding-bottom-2">
        This could be from the waste generator, original producer, new producer or collector.
      </p>


    <div class="govuk-form-group">
      <label class="govuk-label" for="template-carrier-collect-postcode">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="template-carrier-collect-postcode" name="template-carrier-collect-postcode" type="text" value="{{data['template-carrier-collect-postcode']}}">
    </div>

    <p><a href="template-carrier-collect-address-manual">Enter address manually</a></p>


        {{ govukButton({
          text: 'Find address'
        }) }}

        {% include "./includes/template-return-to-link.html" %}


      </form>
    </div>
  </div>

{% endblock %}
