s{% extends "../layouts/layout-exporter-v13.html" %}

{% block pageTitle %}
Are there any other countries the waste will travel through?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" method="post">

              <div class="govuk-form-group">

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Are there any other countries the waste will travel through?
                    </h1>
                  </legend>
                  <div id="contact-hint" class="govuk-hint">
                    Do not include the exporting or importing country.
                  </div>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="template-countries-state" name="template-countries-state" type="radio" value="Yes" data-aria-controls="conditional-contact" {{ checked("template-countries-state", "yes") }}>
                      <label class="govuk-label govuk-radios__label" for="template-countries-state">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact" name="template-countriestate">
                      <div id="contact-hint" class="govuk-hint">
                        Enter the first country the waste will travel through
                      </div>
                      <div class="govuk-form-group">
                        <div id="transit-typeahead-container" class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-default-value="{{ data['transit-typeahead'] }}">
                        </div>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="template-countries-state" name="template-countries-state" type="radio" value="No" data-aria-controls="conditional-contact-2" {{ checked("template-countries-state", "no") }}>
                      <label class="govuk-label govuk-radios__label" for="template-countries-state">
                        No
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>



            {{ govukButton({
              text: 'Save and continue'
            }) }}

            {% include "./includes/template-return-to-link.html" %}


          </form>

        </div>
      </div>

    {% endblock %}
