{% extends "../layouts/layout-exporter-v13.html" %}

{% block pageTitle %}
  How will the additional waste carrier transport the waste?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">


      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        How will the additional waste carrier transport the waste?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="template-where-do-you-live" name="template-where-do-you-live" type="radio" value="road">
        <label class="govuk-label govuk-radios__label" for="template-where-do-you-live">
          Road
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="template-where-do-you-live-2" name="template-where-do-you-live" type="radio" value="rail">
        <label class="govuk-label govuk-radios__label" for="template-where-do-you-live-2">
          Rail
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="template-where-do-you-live-3" name="template-where-do-you-live" type="radio" value="sea">
        <label class="govuk-label govuk-radios__label" for="template-where-do-you-live-3">
          Sea
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="template-where-do-you-live-4" name="template-where-do-you-live" type="radio" value="air">
        <label class="govuk-label govuk-radios__label" for="template-where-do-you-live-4">
          Air
        </label>
      </div>
    </div>

  </fieldset>
</div>







      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

  </div>
</div>

{% endblock %}
