{% extends "../layouts/layout-exporter-v13.html" %}

{% block pageTitle %}
  How will the first waste carrier transport the waste?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" method="post">

        <div class="govuk-form-group">
        
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Shipping container details
                </h1>
                </legend>

                <p class="govuk-hint govuk-!-margin-bottom-6">If you do not know these details yet, leave them blank and continue.</p>

                <!-- SHIPPING CONTAINER NUMBER -->

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label" for="account-number">
                        Enter the shipping container number
                    </label>
                    <div id="account-number-hint" class="govuk-hint">
                        You must update this when the waste is collected
                    </div>
                    <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">
                </div>

                <!-- VEHICLE REGISTRATION -->

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label" for="account-number">
                        Enter the vehicle registration (optional)
                    </label>
                    <div id="account-number-hint" class="govuk-hint">
                        For the vehicle collecting the container 
                    </div>
                    <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">
                </div>

            </fieldset>
        </div>

      {{ govukButton({
        text: 'Save and continue'
      }) }}

      {% include "./includes/template-return-to-link.html" %}


    </form>

  </div>
</div>

{% endblock %}
