{% extends "../layouts/layout-exporter-v13.html" %}

{% block pageTitle %}
  View export
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Transaction number: GLW28364</span>
        Submitted export
      </h1>


      <h2 class="govuk-heading-m">Your reference number</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reference number
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">01546</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        </dl>

    <!--------- ABOUT THE WASTE ------------------->

      <h2 class="govuk-heading-m">About the waste</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Waste code
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">GC020: Electronic scrap (e.g. printed circuit boards, electronic components, wire, etc.)</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            EWC code
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Not provided</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National code
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Not provided</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Waste description
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Electronics including; wires and circuit boards</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Waste quantity
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">22 tonnes</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

      </dl>

      <!--------- IMPORTER AND EXPORTER ------------------->

      <h2 class="govuk-heading-m">Exporter and importer</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exporter details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Waste Ltd</p>
          <p class="govuk-body">28 Wakefield street<br>Manchester<br>M1 4YU</p>
          <p class="govuk-body">Jerry Whitfield</p>
          <p class="govuk-body">jerry.whitfield@waste.com</p>
          <p class="govuk-body">01852 375 285</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Importer details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Zero Waste Lab</p>
            <p class="govuk-body">Dapperplein 45<br> 1093 XS Amsterdam<br> Netherlands<br></p>
            <p class="govuk-body">Philip Franc</p>
            <p class="govuk-body">philip.franc@zero-waste.com</p>
            <p class="govuk-body">+31 20 210 2355</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        </dl>

    <!--------- JOURNEY OF WASTE ------------------->

        <h2 class="govuk-heading-m">Journey of waste</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Collection date
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">14 July 2022</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First waste carrier
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">SG & Co</p>
              <p class="govuk-body">Highfield House, Swansea, SA1 1DE</p>
              <p class="govuk-body">Harry Blesin</p>
              <p class="govuk-body">harry.blesin@sgco.com</p>
              <p class="govuk-body">01792 273455</p>
              <p class="govuk-body"></p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First carrier transport waste
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Road</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional waste carriers
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Not provided</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Waste collection details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">HSW Ltd</p>
              <p class="govuk-body">5 Stafford Park<br>Telford<br>TF6 3RT<br>England</p>
              <p class="govuk-body">Michelle Spires</p>
              <p class="govuk-body">michelle.spires@hswltd.com</p>
              <p class="govuk-body">0121 6273 284</p>
              <p class="govuk-body"></p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Location waste leaves the UK
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Felixstowe</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Countries waste will travel through
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Not provided</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>

          </dl>

          <!--------- TREATMENT OF WASTE ------------------->

          <h2 class="govuk-heading-m">Treatment of waste</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Recovery facility name
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Zero Waste Lab</p>
                <p class="govuk-body">Dapperplein 45<br> 1093 XS Amsterdam<br> Netherlands<br></p>

              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Recovery code
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">R4: Recycling/reclamation of metals and metal compounds</p>
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>

      </dl>
    </div>

    <!--------- ASIDE RIGHT PANEL ------------------->

    {# Right hand side action panel #}
    <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related aside-container">

          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Uploaded from file</span>
            <p class="govuk-body">csv-template (2).csv</p>

            <span class="app-step-nav-related__pretitle">Actions</span>
              <p class="govuk-body"><a href="../public/pdfs/hdj2123f-annex-vii.pdf" class="govuk-link">Download Annex VII form</a>
              (PDF, 78 KB, 1 page).</p>
              <p class="govuk-body"><a href="template-from-export-name.html" class="govuk-link">Create a template from this export</a></p>
              <p class="govuk-body"><a href="submitted-cancel-export" class="govuk-link">Cancel export</a></p>

          </h2>
        </div>




    </div>

  </div>

{% endblock %}
