{% extends "layout-v3-consignor.html" %}

{% block pageTitle %}
  Who is the person arranging the green list waste shipment? - Track waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "are-you-arranging",
          name: "are-you-arranging",
          fieldset: {
            legend: {
              text: "Who is the person arranging the green list waste shipment?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Me"
            },
            {
              value: "no",
              text: "Someone else"
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "Help with person arranging the shipment",
          text: "Supportive help text to help strengthen the purpose of this question."
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}

<p>

  Who is the person arranging the green list waste shipment? <br>

  ( ) Me <br>
  
  ( ) Someone else <br>
  
  
  JOHN IDEA... <br>
   
  Does this make sense? <br>
  
  Drop the "Me/Someone else" question, always pre-fill the "Person who arranges the shipment" form with the data of the logged-in user that can be provided by Govt Gateway and DefraID, with the other fields to be completed by the user. User told that if someone else is responsible, then it should be that person who completes the process<br>
  
  
  DO THE ABOVE :-)<br>

</p>


      </form>

    </div>
  </div>

{% endblock %}
