{% extends "layout.html" %}

{% block pageTitle %}
  Are you arranging the shipment? - Waste tracking service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "are-you-arranging",
          name: "are-you-arranging",
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-xl">Shipment information</span>Are you arranging the shipment?',
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
