{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  You have added 1 transit country
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <form method="post" action="">

          {% if data['template-country-count'] == '0' %}
    <h1 class="govuk-heading-l">
      You have added 1 transit country
    </h1>
          {% elseif data['template-country-count'] == '1' %}
    <h1 class="govuk-heading-l">
      You have added 2 transit countries
    </h1>
          {% elseif data['template-country-count'] == '2' %}
    <h1 class="govuk-heading-l">
      You have added 3 transit countries
    </h1>
          {% elseif data['template-country-count'] == '3' %}
    <h1 class="govuk-heading-l">
      You have added 4 transit countries
    </h1>
          {% elseif data['template-country-count'] == '4' %}
    <h1 class="govuk-heading-l">
      You have added 5 transit countries
    </h1>

    {% endif %}

<!---------- SUMMARY LIST ---------->

<div class="govuk-form-group">

<dl class="govuk-summary-list govuk-!-margin-bottom-1">
{% for item in countries %}

  <div class="govuk-summary-list__row">


    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{item}}
    </dt>
    <dd class="govuk-summary-list__value">

    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">
        Change<span class="govuk-visually-hidden"> change</span>
      </a>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="">
        Remove<span class="govuk-visually-hidden"> delete</span>
      </a>
    </dd>


  </div>

  {%endfor%}
</dl>
</div>


<br>
<br>
<!---------- ADD ANOTHER RADIOS ---------->

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="add-third-carrier-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you need to add another country?
        </legend>
        <div id="add-country-hint" class="govuk-hint">
          You must add countries in order of travel
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="template-add-transit-country" name="template-add-transit-country" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="template-add-transit-country">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="template-add-transit-country" name="template-add-transit-country" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="template-add-transit-country">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>


    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>

    {% include "./includes/template-return-to-link.html" %}

    </form>

  </div>
</div>

{% endblock %}
