{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  Waste collection details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" method="post">

      <h1 class="govuk-heading-l">
        Waste collection details
      </h1>

      <p>5 Stafford Park<br>
        Telford<br>
        TF6 3RT<br>
        England<br>

        <div id="event-name-hint" class="govuk-hint">
          We'll use this as the exporting country.
        </div>

        <p><a href="template-carrier-collect-postcode">Change address</a></p>

        <br>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
            Organisation name <span class="govuk-visually-hidden">waste-name</span>
          </label>
          <input class="govuk-input govuk-!-width-three-quarters" id="template-waste-name" name="template-waste-name" type="text" value="{{data['template-waste-name']}}">
        </div>

        <br>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Contact details
          </h1>
        </legend>
        <div class="govuk-form-group">
          <label class="govuk-label" for="template-carrier-collect-full-name">
            Full name
          </label>
          <input class="govuk-input govuk-!-width-three-quarters" id="template-carrier-collect-full-name" name="template-carrier-collect-full-name" type="text" value="{{data['template-carrier-collect-full-name']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="template-carrier-collect-email">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="template-carrier-collect-email" name="template-carrier-collect-email" type="email" value="{{data['template-carrier-collect-email']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="template-carrier-collect-phone">
            Phone number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="template-carrier-collect-phone" name="template-carrier-collect-phone" type="tel" value="{{data['template-carrier-collect-phone']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="template-carrier-collect-fax">
            Fax number (optional)
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="template-carrier-collect-fax" name="template-carrier-collect-fax" type="tel" value="{{data['template-carrier-collect-fax']}}">
        </div>

      </fieldset>
      </div>

        {{ govukButton({
          text: 'Save and continue'
        }) }}

        {% include "./includes/template-return-to-link.html" %}


      </form>

    </div>
  </div>

{% endblock %}
