{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  {{ data['template-name'] }}
{% endblock %}

{% block beforeContent %}
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Prototype
        </strong>
        <span class="govuk-phase-banner__text">
          Version 12 - This is not a live service.
        </span>
      </p>
    </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<!--------------------- NOTIFICATION BANNER ----------------------------------------------------->

      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You’ve started a new export based on your template. Review and add information before you submit.
          </p>
        </div>
      </div>


      <span class="govuk-caption-l">New waste export from template:</span>
      <h1 class="govuk-heading-l">
        {% if data['template-name'] != undefined %}
          {{ data['template-name'] }}
        {% else %}
          Euromovement paper waste movement
        {% endif %}
      </h1>

<!---------------------  TEMPLATE DETAILS ----------------------------------------------------->

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          <h2 class="govuk-heading-m">Your reference number</h2>
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd> 
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reference number
        </dt>
        <dd class="govuk-summary-list__value">
          <strong class="govuk-tag govuk-tag--grey">
            Add Information
          </strong>
        </dd>
        <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">reference number</span>
            </a>
        </dd>
      </div>
      
    </dl>

<!---------------------  ABOUT THE WASTE ----------------------------------------------------->

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-third">
          <h2 class="govuk-heading-m">About the waste</h2>
        </dt>
        <dd class="govuk-summary-list__value">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">waste codes, description, weight and collection date</span>
          </a>
        </dd> 
      </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Waste code
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">GC020: Electronic scrap (e.g. printed circuit boards, electronic components, wire, etc.)</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            EWC code
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--grey">
              Add Information
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National code
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--grey">
              Add Information
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Waste description
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Electronics including; wires and circuit boards</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Waste quantity
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--grey">
              Add Information
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Collection date
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--grey">
              Add Information
            </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>

      </dl>

<!---------------------  EXPORTER AND IMPORTER ----------------------------------------------------->

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            <h2 class="govuk-heading-m">Exporter and importer</h2>
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">Exporter and importer</span>
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Exporter details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Waste Ltd</p>
          <p class="govuk-body">28 Wakefield street<br>Manchester<br>M1 4YU</p>
          <p class="govuk-body">Jerry Whitfield</p>
          <p class="govuk-body">jerry.whitfield@waste.com</p>
          <p class="govuk-body">01852 375 285</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Importer details
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">Zero Waste Lab</p>
            <p class="govuk-body">Dapperplein 45<br> 1093 XS Amsterdam<br> Netherlands<br></p>
            <p class="govuk-body">Philip Franc</p>
            <p class="govuk-body">philip.franc@zero-waste.com</p>
            <p class="govuk-body">+31 20 210 2355</p>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        </dl>

<!---------------------  JOURNEY OF WASTE ----------------------------------------------------->

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">        

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            <h2 class="govuk-heading-m">Journey of waste</h2>
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden">waste carriers and countries</span>
            </a>
          </dd> 
        </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First waste carrier
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">SG & Co</p>
              <p class="govuk-body">Highfield House, Swansea, SA1 1DE</p>
              <p class="govuk-body">Harry Blesin</p>
              <p class="govuk-body">harry.blesin@sgco.com</p>
              <p class="govuk-body">01792 273455</p>
              <p class="govuk-body"></p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              First carrier transport waste
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Road</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional waste carriers
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--grey">
                Add Information
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Waste collection details
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">HSW Ltd</p>
              <p class="govuk-body">5 Stafford Park<br>Telford<br>TF6 3RT<br>England</p>
              <p class="govuk-body">Michelle Spires</p>
              <p class="govuk-body">michelle.spires@hswltd.com</p>
              <p class="govuk-body">0121 6273 284</p>
              <p class="govuk-body"></p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Point of leaving the UK
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Felixstowe</p>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Countries waste will travel through
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--grey">
                Add Information
              </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
          </div>
          </dl>

<!---------------------  TREATMENT OF WASTE ----------------------------------------------------->

            <dl class="govuk-summary-list govuk-!-margin-bottom-7">          

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-one-third">
                <h2 class="govuk-heading-m">Treatment of waste</h2>
              </dt>
              <dd class="govuk-summary-list__value">
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">waste treatment</span>
                </a>
              </dd> 
            </div>
          
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Recovery facility name
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Zero Waste Lab</p>
                <p class="govuk-body">Dapperplein 45<br> 1093 XS Amsterdam<br> Netherlands<br></p>

              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
              Recovery code
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">R4: Recycling/reclamation of metals and metal compounds</p>
              </dd>
              <dd class="govuk-summary-list__actions">
              </dd>
            </div>
      </dl>
      <br>

        <!--------- DECLARATION ------------------->

        <h2 class="govuk-heading-m">
          Declaration
        </h2>

        <p class="govuk-body">By submitting these exports, you confirm that:</p>

        <ul class="govuk-body">
          <li>all the information you've provided is complete and correct to the best of your knowledge</li>
          <li>there are effective written contractual obligations with the consignees (if this applies to your exports)</li>
          <li>you've checked with the relevant authorities if there are any local controls that apply in any country involved in the journey of the waste</li>
          <li>you've classified the waste appropriately</li>
        </ul>

        <div class="govuk-!-padding-bottom-4"></div>

      <!--------- BUTTON AND LINK ------------------->

      {{ govukButton({
          text: 'Agree and submit'
        }) }}

        <p class="govuk-body">
          <a href="dashboard" class="govuk-link">Cancel and return to green list waste overview</a>
        </p>

      </form>

    </div>

  </div>

{% endblock %}
