{% extends "../layouts/layout-exporter-v4.html" %}

{% block pageTitle %}
  Rename favourite - Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Rename favourite
      </h1>

      <form class="form" method="post">

      {% call govukFieldset({
      }) %}

      {{ govukInput({
        label: {
          text: "Update the name of this template",
          isPageHeading: false
        },
        id: "rename-template-name",
        name: "rename-template-name",
        value: data['rename-template-name']
      }) }}

      {% endcall %}

      <div class="govuk-button-group">

        {{ govukButton({
          text: 'Rename and continue'
        }) }}

        <a class="govuk-link" href="prenotification-templates">Cancel, do not rename</a>

      </div>

      </form>

    </div>
  </div>

{% endblock %}
