{% extends "../layouts/layout-exporter-v4.html" %}

{% block pageTitle %}
  Check your answers - Export green list waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['view-all-cancelled'] == 'true' %}
        {{govukTag({
          text: "cancelled",
          classes: "govuk-tag--orange"
        })}}
      {% endif %}

      <h1 class="govuk-heading-l">
        Transaction number 828528178
      </h1>

      {% if data['view-all-cancelled'] == 'true' %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Cancellation reason
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              {{ data ['cancel-reason'] }}
            </p>
          </div>
        </div>
      {% endif %}

      <!--===================================-->
      <!-- PERSON ARRANGING SHIPMENT HEADING -->
      <!--===================================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Person arranging the export
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
          </dd> 
        </div>
      </dl>

      <!-- PERSON ARRANGING SHIPMENT - Carrier details -->

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Euromovement Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Unit 15, Berryedge Park<br>
            Dunstable<br>
            LU5 4AX<br>
            England
          </dd>
        </div>
      </dl>

      <!-- PERSON ARRANGING SHIPMENT - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Gary Squires
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            gary.squires@euromovement.com
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            01790 243 3921
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--============================-->
      <!-- IMPORTER/CONSIGNEE HEADING -->
      <!--============================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Importer or consignee
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
          </dd> 
        </div>
      </dl>

      <!-- IMPORTER/CONSIGNEE - Carrier details -->

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Bulk Papers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            31st Floor, Rajbhavan Road<br>
            Khairatabad<br>
            Hyderabad<br>
            Andhra Pradesh<br>
            500004<br>
            India
          </dd>
        </div>
      </dl>

      <!-- IMPORTER/CONSIGNEE - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Sakari Bhavsar
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            sakari.bhavsar@bulkpapers.in
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0091 98144 21012
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--==========-->
      <!-- QUANTITY -->
      <!--==========-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Quantity of waste
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
          </dd> 
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Weight
          </dt>
          <dd class="govuk-summary-list__value">
            12 Tonnes or megagrams (Mg)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Actual or estimated
          </dt>
          <dd class="govuk-summary-list__value">
            Estimated quantity
          </dd>
        </div>
      </dl>
      <br><br>

      <!--=========================--> 
      <!-- ACTUAL DATE OF SHIPMENT -->
      <!--=========================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
          Waste pick up date
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
          </dd> 
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Date
          </dt>
          <dd class="govuk-summary-list__value">
            4 June 2021
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Actual or estimated
          </dt>
          <dd class="govuk-summary-list__value">
            Estimated date
          </dd>
        </div>
      </dl>
      <br><br>

      <!--=======================-->
      <!-- FIRST CARRIER HEADING -->
      <!--=======================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            First carrier
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
          </dd> 
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Carrier name and address?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, the details are of the first carrier
          </dd>
        </div>
      </dl>

      <!-- FIRST CARRIER - Carrier details -->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Complete CMA Shipping Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            32 Carriers Road<br>
            Crofts of Buinach<br>
            IV30 1AZ<br>
            Scotland
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Means of transport
          </dt>
          <dd class="govuk-summary-list__value">
            Road
          </dd>
        </div>
      </dl>

      <!-- FIRST CARRIER - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Bob Walker
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            bob.walker@ccma.co.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0708 4528089
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--=========================-->
      <!-- WASTE GENERATOR HEADING -->
      <!--=========================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Waste pick up location
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
          </dd> 
        </div>
      </dl>

      <!-- WASTE GENERATOR - Carrier details -->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Perfect Print Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            120 South Street<br>
            Moelfre<br>
            Derbyshire<br>
            DE1 7LX<br>
            England
          </dd>
        </div>
      </dl>

      <!-- WASTE GENERATOR - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Thomas Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            contact@perfectprint.ltd.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0702 859 8430
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--=========================================-->
      <!-- RECOVERY FACILITY OR LABORATORY HEADING -->
      <!--=========================================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Recovery facility
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
          </dd> 
        </div>
      </dl>

      <!-- RECOVERY FACILITY OR LABORATORY - Details -->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Bulk Papers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            31st Floor, Rajbhavan Road<br>
            Khairatabad<br>
            Hyderabad<br>
            Andhra Pradesh<br>
            500004<br>
            India
          </dd>
        </div>
      </dl>

      <!-- RECOVERY FACILITY OR LABORATORY - Contact details -->
      <h3 class="govuk-heading-s">
        Contact person and contact details
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Sakari Bhavsar
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            sakari.bhavsar@bulkpapers.in
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0091 98144 21012
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--====================-->
      <!-- RECOVERY OPERATION --> 
      <!--====================-->
      <h2 class="govuk-heading-m">
        Recovery or disposal code
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            R-code/D-code
          </dt>
          <dd class="govuk-summary-list__value">
            R12: Exchange of wastes for submission to any of the operations numbered R01 to R11
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd> 
        </div>
      </dl>
      <br><br>

      <!--===================-->
      <!-- USUAL DESCRIPTION -->
      <!--===================-->
      <h2 class="govuk-heading-m">
        Waste description
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            Mixed Paper EN643
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd> 
        </div>
      </dl>
      <br><br>

      <!--==============================-->
      <!-- WASTE IDENTIFICATION HEADING -->
      <!--==============================-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Waste identification codes
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
          </dd> 
        </div>
      </dl>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Basel Annex IX
          </dt>
          <dd class="govuk-summary-list__value">
            B2040: Other wastes containing principally inorganic constituents
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            OECD code
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Annex IIIA
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Annex IIIB
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            EC list of wastes
          </dt>
          <dd class="govuk-summary-list__value">
            150101: paper and cardboard packaging
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            National code
          </dt>
          <dd class="govuk-summary-list__value">
            47079000
          </dd>
        </div>
    </dl>
    <br><br>

      <!--==========================-->
      <!-- COUNTRIES/STATES HEADING --> 
      <!--==========================-->
      <dl class="govuk-summary-list" id="countries-concerned">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m" style="margin: 0; padding: 0;">
            Countries the waste will travel through
          </dt>
          <dd class="govuk-summary-list__actions govuk-body" style="margin: 0; padding: 0; border-bottom: 0;">
          </dd> 
        </div>
      </dl>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Exporting country
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom (GB)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Transit country (or countries)
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Importing country
          </dt>
          <dd class="govuk-summary-list__value">
            India
          </dd>
        </div>
      </dl>
      <br><br>

      <!--======================-->
      <!--  CONTAINER REFERENCE -->
      <!--======================-->
      <h2 class="govuk-heading-m">
        Container number
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Container number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>
      <br><br>

      <!--==================-->
      <!--  TRANSACTION IDs -->
      <!--==================-->
      <h2 class="govuk-heading-m">
        Transaction and reference number
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Transaction number
          </dt>
          <dd class="govuk-summary-list__value">
            828528178
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Reference number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd> 
        </div>
      </dl>
      <br>

      <form class="form" method="post">
        {{ govukButton({
          text: 'Continue',
          href: 'submitted-prenotifications'
        }) }}
      </form>

    </div>

    {# Right hand side action panel #}
    <div class="govuk-grid-column-one-third">

      <div class="app-step-nav-related">
        <h2 class="app-step-nav-related__heading">
          <span class="app-step-nav-related__pretitle">Save a template using this export</span>
          <p class="govkuk-body app-step-nav__paragraph">Tell us about a green list waste export quicker next time by adding these details to a template.</p>
          <a href="save-as-template">
            Save a template
          </a>
        </h2>
      </div>

      {% if data['view-all-cancelled'] != 'true' %}
        <div class="app-step-nav-related">
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Download the Annex VII form</span>
            <p class="govkuk-body app-step-nav__paragraph">Download, print, and sign the Annex VII form and send it with your waste export.</p>
            <a href="../public/pdfs/hdj2123f-annex-vii.pdf" download class="govuk-link govuk-link--no-visited-state">
              Download Annex VII
            </a>
          </h2>
        </div>
      {% endif %}

      {% if data['view-all-cancelled'] != 'true' %}
        <div class="app-step-nav-related">
          <h2 class="app-step-nav-related__heading">
            <span class="app-step-nav-related__pretitle">Cancel this export</span>
            <p class="govkuk-body app-step-nav__paragraph">Cancel this export prior to it being collected.</p>
            <a href="view-all-cancel">
              Cancel export
            </a>
          </h2>
        </div>
      {% endif %}
      
    </div>

  </div>

{% endblock %}
