{% extends "../layouts/layout-exporter-v4.html" %}

{% block pageTitle %}
  Submission has been cancelled - Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Submission cancelled
      </h1>

      <p class="govuk-body">The submission has been cancelled.</p>
      <p class="govuk-body">Return to <a class="govuk-link" href="submitted-prenotifications?exporter-time-period=all-dates&view-all-cancelled=true">view all submitted exports</a>.</p>

    </div>
  </div>

{% endblock %}
