
{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  Home - Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}

{% endblock %}

{% block content %}

  <script>
    req.session.data.error = "";
  </script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Your green list waste exports
      </h1>


      <h2 class="govuk-heading-m">
        Notify your agency about an export
      </h2>
      <ul class="govuk-list">
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="prenotify">
            Submit one export
          </a>
        </li>

        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="">
            Submit multiple exports using a spreadsheet
          </a>
        </li>
      </ul>

<br>
<br>
      <h2 class="govuk-heading-m">
        All exports
      </h2>
      <ul class="govuk-list">
        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="draft-exports">
            Continue an export (3)
          </a>
        </li>

        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="update-prenotifications">
            Update an export with correct details (1)
          </a>
        </li>

        <li class="app-task-list__item">
          <a class="app-task-list__task-name" href="submitted-prenotifications?exporter-time-period=all-dates">
            View all submitted exports (27)
          </a>
        </li>
      </ul>






    </div>
  </div>



{% endblock %}
