{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  {{serviceName}} trigger email
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Trigger email
    </h1>

    <p class="govuk-body">
      Dear Customer,
    </p>

    <p class="govuk-heading-m">
      Exports of green list waste – new legal requirement to pre-notify the agency of waste 
      shipments under Article 18 controls
    </p>

    <p class="govuk-heading-s">
      Who we are
    </p>

    <p class="govuk-body">
      We are the agency, the government’s environmental regulator.  We regulate waste management for the 
      protection of people and the environment.
    </p>

    <p class="govuk-heading-s">
      Why we are writing to you
    </p>

    <p class="govuk-body">
      We are sending you this email because you are involved in waste imports or exports.
    </p>
    
    <p class="govuk-body">
      From 1st April 2023 you will need to pre-notify us of an export under Article 18 (Green List) controls. 
      Green list wastes are non-hazardous, uncontaminated, single-stream wastes such as paper or scrap metal 
      that are shipped overseas for recovery.
    </p>

    <p class="govuk-body">
      You will need to provide us with the information relating to each shipment of green list waste using our 
      new online service, Waste Tracking.
    </p>

    <p class="govuk-body">
      This service will guide you through producing a fully completed and accurate Annex VII form, and allow 
      you to print a copy of the Annex VII to travel with the waste shipment. The online service will make it 
      as easy as possible for you to pre-notify us of your upcoming green list waste shipment - you will no 
      longer need to scan and email your Annex VII form to us.
    </p>

    <p class="govuk-body">
      The Waste Tracking Service is part of our initiative to eradicate waste crime, and to create a level 
      playing field for all waste operators.
    </p>

    <p class="govuk-heading-s">
      What you need to do
    </p>

    <p class="govuk-body">
      You need to register for an account on the Waste Tracking Service to enable you to pre-notify us of
      shipments of green list waste. Pre-notification of these shipments will become a legal requirement 
      from 1st April 2023, but you can start using the service from today.
    </p>
    
    <p class="govuk-body">
      To register, click the link below:
    </p>

    <form class="form" method="post">
      {{ govukButton({
        text: "Start now",
        isStartButton: true
      }) }}
    </form>

    <p class="govuk-heading-s">
      Contacting us
    </p>

    <p class="govuk-body">
      If you have any questions do not hesitate to contact us at <a href="mailto:askshipments@agency.com" class="govuk-link">askshipments@agency.com</a>.
    </p>
      
    <p class="govuk-body">
      Yours sincerely.
    </p>

  </div>
</div>

{% endblock %}
