{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  You have added 1 additional waste carrier
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <form method="post" action="">

          {% if data['carrier-count'] == '0' %}
    <h1 class="govuk-heading-l">
      You have added 1 additional waste carrier
    </h1>
          {% elseif data['carrier-count'] == '1' %}
    <h1 class="govuk-heading-l">
      You have added 2 additional waste carriers
    </h1>
          {% elseif data['carrier-count'] == '2' %}
    <h1 class="govuk-heading-l">
      You have added 3 additional waste carriers
    </h1>
          {% elseif data['carrier-count'] == '3' %}
    <h1 class="govuk-heading-l">
      You have added 4 additional waste carriers
    </h1>
          {% elseif data['carrier-count'] == '4' %}
    <h1 class="govuk-heading-l">
      You have added 5 additional waste carriers
    </h1>

    {% endif %}


<div class="govuk-form-group">
{% for item in items %}
<dl class="govuk-summary-list govuk-!-margin-bottom-1">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-one-half">
      {{item}}
    </dt>
    <dd class="govuk-summary-list__value">

    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="carrier-add-2">
        Change<span class="govuk-visually-hidden"> change</span>
      </a>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="carrier-delete">
        Remove<span class="govuk-visually-hidden"> delete</span>
      </a>
    </dd>
  </div>
</dl>
{%endfor%}

<br>
<br>

    </div>
    {% if data['carrier-count'] == '4' %}
    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    {% else %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="add-third-carrier-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
          Do you need to add another waste carrier?
        </legend>
        <div id="contact-hint" class="govuk-hint">
          You can have up to 5 additional waste carriers.
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="add-third-carrier" name="add-third-carrier" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="add-third-carrier">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="add-third-carrier" name="add-third-carrier" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="add-third-carrier">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button href="carrier-add-3" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    {% endif %}


    </form>




  </div>
</div>

{% endblock %}
