{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
Do you have any EC list of wastes?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" method="post">

              <div class="govuk-form-group">


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Do you have any EC list of wastes?
                    </h1>
                  </legend>
                  <div id="contact-hint" class="govuk-hint">
                    An EC list of waste is also known as a European Waste Catalogue code (EWC code).
                  </div>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-code" name="ec-code" type="radio" value="Yes" data-aria-controls="conditional-contact">
                      <label class="govuk-label govuk-radios__label" for="ec-code">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact" name="eccode">
                      <div class="govuk-form-group">
                        <div id="ec-wastes-typeahead-container" data-default-value="{{ data['ec-wastes-typeahead'] }}">
                        </div>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-code" name="ec-code" type="radio" value="No" data-aria-controls="conditional-contact-2">
                      <label class="govuk-label govuk-radios__label" for="ec-code">
                        No
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>



            {{ govukButton({
              text: 'Save and continue'
            }) }}

          </form>

        </div>
      </div>

    {% endblock %}
