{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  Who is arranging the export? - Export green list waste
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">
        Who is arranging the export?
      </h1>

      <form class="form" method="post">

          {{ govukInput({
            label: {
              text: "Name of exporter",
              classes: "govuk-label--m",
              isPageHeading: false
            },
            hint: {
              text: "Company, partnership, sole trader, organisation, etc."
            },
            id: "who-arranged-company-name",
            name: "who-arranged-company-name",
            value: data['who-arranged-company-name']
          }) }}



          <div class="govuk-form-group">
        <fieldset class="govuk-fieldset govuk-form-group--error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Address
            </h2>
          </legend>

          <div class="govuk-form-group">
            <label class="govuk-label" for="who-arranged-address-line-1">
              Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
              <input class="govuk-input" id="who-arranged-address-line-1" name="who-arranged-address-line-1" type="text" autocomplete="address-line1" value="{{ data['who-arranged-address-line-1'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="who-arranged-address-line-2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
              <input class="govuk-input" id="who-arranged-address-line-2" name="who-arranged-address-line-2" type="text" autocomplete="address-line2" value="{{ data['who-arranged-address-line-2'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="who-arranged-address-town">
              Town or city
            </label>
              <input class="govuk-input govuk-!-width-two-thirds" id="who-arranged-address-town" name="who-arranged-address-town" type="text" autocomplete="address-level2" value="{{ data['who-arranged-address-town'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="who-arranged-address-county">
              County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="who-arranged-address-county" name="who-arranged-address-county" type="text" value="{{ data['who-arranged-address-county'] }}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="who-arranged-address-postcode">
              Postcode
            </label>
              <input class="govuk-input govuk-input--width-10" id="who-arranged-address-postcode" name="who-arranged-address-postcode" type="text" autocomplete="postal-code" value="{{ data['who-arranged-address-postcode'] }}">
          </div>

        </fieldset>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__legend govuk-!-padding-top-6">
              Country
            </h2>
          </legend>

          <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="who-arranged-address-country" name="who-arranged-address-country" type="radio" value="england" {{ checked("who-arranged-address-country", "england") }}>
              <label class="govuk-label govuk-radios__label" for="who-arranged-address-country">
                England
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="who-arranged-address-country" name="who-arranged-address-country" type="radio" value="northernireland" {{ checked("who-arranged-address-country", "northernireland") }}>
              <label class="govuk-label govuk-radios__label" for="who-arranged-address-country">
                Northern Ireland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="who-arranged-address-country" name="who-arranged-address-country" type="radio" value="scotland" {{ checked("who-arranged-address-country", "scotland") }}>
              <label class="govuk-label govuk-radios__label" for="who-arranged-address-country">
                Scotland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="who-arranged-address-country" name="who-arranged-address-country" type="radio" value="wales" {{ checked("who-arranged-address-country", "wales") }}>
              <label class="govuk-label govuk-radios__label" for="who-arranged-address-country">
                Wales
              </label>
            </div>
          </div>
        </fieldset>

        </div>

        {# Contact person name #}
        {% call govukFieldset({
          legend: {
            text: "Contact person",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "who-arranged-contact-full-name",
            name: "who-arranged-contact-full-name",
            value: data['who-arranged-contact-full-name'],
            autocomplete: "name",
            spellcheck: false
          }) }}


        {% endcall %}

        {# Contact details #}
        {% call govukFieldset({
          legend: {
            text: "Contact details",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {{ govukInput({
            id: "who-arranged-email",
            name: "who-arranged-email",
            type: "email",
            spellcheck: false,
            value: data['who-arranged-email'],
            label: {
              text: "Email address"
            }
          }) }}


          {{ govukInput({
            id: "who-arranged-telephone",
            name: "who-arranged-telephone",
            type: "tel",
            value: data['who-arranged-telephone'],
            classes: "govuk-input--width-20",
            label: {
              text: "Telephone number"
            }
          }) }}

        {# Contact fax number #}
        {{ govukInput({
          id: "who-arranged-fax",
          name: "who-arranged-fax",
          value: data['who-arranged-fax'],
          type: "tel",
          classes: "govuk-input--width-20 govuk-!-margin-bottom-2",
          label: {
            text: "Fax number (optional)"
          }
        }) }}

        {% endcall %}

        {{ govukButton({
          text: 'Save and continue'
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
