{% extends "layout.html" %}

{% block pageTitle %}
  Actual quantity - Waste tracking service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post">

      {% call govukFieldset({
        legend: {
          html: '<span class="govuk-caption-xl">Shipment information</span>Actual quantity',
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      }) %}

      {{ govukInput({
        label: {
          text: 'Weight'
        },
        id: "weight",
        name: "quantity-weight",
        value: data['quantity-weight'],
        classes: "govuk-!-width-one-third"
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "quantity-units",
        name: "quantity-units",
        fieldset: {
          legend: {
            text: "Units"
          }
        },
        items: [
          {
            value: "tonnes-mg",
            text: "Tonnes (Mg)"
          },
          {
            value: "cubic-metres",
            text: "Cubic metres"
          }
        ]
      }) }}

      {% endcall %}

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
