{% extends "layout.html" %}

{% block pageTitle %}
  Bulk upload - Waste tracking service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Bulk upload
      </h1>

      <form class="form" method="post">
        
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Choose a file to upload multiple waste movements as a speadsheet"
          }
        }) }}

        {{ govukButton({
          text: 'Continue'
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
