
{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
Export submitted
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
          titleText: "Export submitted",
          html: "Your transaction number is <strong>GLW0001</strong>"
        }) }}

      <p class="govuk-body">
        We’ve sent you a confirmation email.
        <br>
        <br>
        We’ve also sent these details to the relevant UK regulatory authority. You do not need to send them anything else.
      </p>

      <p class="govuk-heading-m govuk-!-padding-top-4">
        Updating this export with actual details
      </p>

      <p class="govuk-body">If you've provided estimates for quantity of waste or collection date, you'll need to provide the actual details as soon as possible.</p>

      <p class="govuk-body">You can also update first waste carrier details if you need to.</p>

      <p class="govuk-heading-m govuk-!-padding-top-4">
        What you must do next
      </p>

      <p class="govuk-body">It’s a legal requirement that a completed annex VII form travels with the waste.</p>

      <p class="govuk-body">You can use your own or <a href="../public/pdfs/hdj2123f-annex-vii.pdf" class="govuk-link">download the one we’ve created</a>
        (PDF, 78 KB, 1 page). Estimated details will not be shown.</p>

      <br>

      <p class="govuk-body">
        <a href="dashboard" class="govuk-link">Return to green list waste overview</a>
      </p>

      <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->


      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>




    </div>
  </div>

{% endblock %}
