{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  What's the exporter's address?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

      <h1 class="govuk-heading-l">
        What's the exporter's address?
      </h1>

      <p>M1 4YU <a href="exporter-postcode">Change</a></p>




        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Select an address
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="addresses" selected>5 addresses found</option>
            <option value="address 26">26 Wakefield street, Manchester M1 4YU</option>
            <option value="address 27">27 Wakefield street, Manchester M1 4YU</option>
            <option value="address 28">28 Wakefield street, Manchester M1 4YU</option>
            <option value="address 29">29 Wakefield street, Manchester M1 4YU</option>
            <option value="address 30">30 Wakefield street, Manchester M1 4YU</option>
          </select>
        </div>

        <p><a href="exporter-address-manual">I cannot find my address in the list</a></p>


        {{ govukButton({
          text: 'Continue'
        }) }}

        {% include "./includes/return-to-link.html" %}


      </form>
    </div>
  </div>

{% endblock %}
