{% extends "../layouts/layout-exporter-v5.html" %}

{% block pageTitle %}
  Check this export
{% endblock %}

{% block content %}

          <div class="govuk-width-container">


            <main class="govuk-main-wrapper " id="main-content" role="main">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                  <h1 class="govuk-heading-l">Check this export</h1>

                  <h2 class="govuk-heading-m">Your reference number</h2>

                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Reference number
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Not provided</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="unique-ref">
                          Change<span class="govuk-visually-hidden"> Reference number</span>
                        </a>
                      </dd>
                    </div>
                    </dl>

                  <h2 class="govuk-heading-m">About the waste</h2>

                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Waste code
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Not applicable</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="waste-codes-and-description">
                          Change<span class="govuk-visually-hidden"> waste code</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        EWC code
                      </dt>
                      <dd class="govuk-summary-list__value">

                        <p class="govuk-body">010101: wastes from mineral metalliferous excavation</p>


                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="code-add-another">
                          Change<span class="govuk-visually-hidden"> EWC codes</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        National code
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Not provided</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="national-code">
                          Change<span class="govuk-visually-hidden"> national code</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Waste description
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Waste from mineral excavation</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="waste-description">
                          Change<span class="govuk-visually-hidden"> waste description</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Waste quantity type
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">Actual</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="quantity">
                          Change<span class="govuk-visually-hidden"> waste quantity type</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Waste quantity
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">21kg</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="enter-waste">
                          Change<span class="govuk-visually-hidden"> waste quantity</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Collection date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">28 June 2022</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="date-of-shipment">
                          Change<span class="govuk-visually-hidden"> collection date</span>
                        </a>
                      </dd>
                    </div>
                  </dl>

                  <h2 class="govuk-heading-m">Exporter and importer</h2>

                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Exporter details
                      </dt>
                      <dd class="govuk-summary-list__value">
                      <p class="govuk-body">28 Wakefield street<br>Manchester<br>M1 4YU</p>
                      <p class="govuk-body">Waste Ltd</p>
                      <p class="govuk-body">Jerry Whitfield</p>
                      <p class="govuk-body">jerry.whitfield@waste.com</p>
                      <p class="govuk-body">01852 375 285</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="who-arranged-shipment-details">
                          Change<span class="govuk-visually-hidden"> exporter details</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Importer details
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['importer-name'] }}</p>
                        <p class="govuk-body">{{ data['importer-address'] }}</p>
                        <p class="govuk-body">{{ data['importer-typeahead'] }}</p>
                        <p class="govuk-body">{{ data['importer-contact-name'] }}</p>
                        <p class="govuk-body">{{ data['importer-contact-by-phone'] }}</p>
                        <p class="govuk-body">{{ data['importer-contact-by-fax'] }}</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="importer-consignee">
                          Change<span class="govuk-visually-hidden"> importer details</span>
                        </a>
                      </dd>
                    </div>
                    </dl>

                    <h2 class="govuk-heading-m">Journey of waste</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          First waste carrier
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">{{ data['first-carrier-org-name'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-address'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-typeahead'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-contact-name'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-email'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-phone'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-fax'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="carrier-add-1">
                            Change<span class="govuk-visually-hidden"> first waste carrier</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          First carrier transport waste
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">Road</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="carrier-transport-1">
                            Change<span class="govuk-visually-hidden"> first carrier transport waste</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Additional waste carriers
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">{{ data['additonalcarrier'] }}</p>
                          <p class="govuk-body">{{ data['additonal-carrier-address'] }}</p>
                          <p class="govuk-body">{{ data['third-carrier-typeahead'] }}</p>
                          <p class="govuk-body">{{ data['additonal-carrier-contact-name'] }}</p>
                          <p class="govuk-body">{{ data['additonal-carrier-email'] }}</p>
                          <p class="govuk-body">{{ data['additonal-carrier-phone'] }}</p>
                          <p class="govuk-body">{{ data['additonal-carrier-fax'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="carrier-check">
                            Change<span class="govuk-visually-hidden"> additional waste carriers</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Waste collection details
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">5 Stafford Park<br>Telford<br>TF6 3RT<br>England</p>
                          <p class="govuk-body">{{ data['waste-name'] }}</p>
                          <p class="govuk-body">{{ data['carrier-collect-full-name'] }}</p>
                          <p class="govuk-body">{{ data['carrier-collect-email'] }}</p>
                          <p class="govuk-body">{{ data['carrier-collect-phone'] }}</p>
                          <p class="govuk-body">{{ data['carrier-collect-fax'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="waste-generator">
                            Change<span class="govuk-visually-hidden"> waste collection details</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Point of leaving the UK
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">Add content</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="point-of-exit">
                            Change<span class="govuk-visually-hidden"> Leaving the UK</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Countries waste will travel through
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">Add content</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="countries-states-concerned">
                            Change<span class="govuk-visually-hidden"> Transit countries</span>
                          </a>
                        </dd>
                      </div>
                      </dl>


                      <h2 class="govuk-heading-m">Treatment of waste</h2>

                      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Laboratory name
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Lab name and address
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="recovery-facility-laboratory">
                              Change<span class="govuk-visually-hidden"> recovery facility</span>
                            </a>
                          </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                          Disposal code
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <p class="govuk-body">D5: Specially engineered landfill</p>
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="recovery-operation">
                              Change<span class="govuk-visually-hidden"> recovery code</span>
                            </a>
                          </dd>
                        </div>
                  </dl>

                  <h2 class="govuk-heading-m">Now submit export</h2>

                  <p class="govuk-body">By submitting this export, you confirm that:</p>

                  <ul class="govuk-list govuk-list--bullet">
                    <li>all the information you've provided is complete and correct to the best of your knowledge</li>
                    <li>you've checked with the relevant authorities if there are any local controls that apply in any country involved in the journey of the waste</li>
                    <li>you've classified the waste appropriately</li>
                  </ul>


                  <form action="" method="post" novalidate>

                    <input type="hidden" name="answers-checked" value="true">

                    <button class="govuk-button" data-module="govuk-button">
                      Confirm and submit
                    </button>

                    <p class="govuk-body"><a class="govuk-link" href="lab-prenotify-3">Return to submit an export page</a></p>

                  </form>

                </div>
              </div>
            </main>
          </div>


{% endblock %}
