

{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  Do you want to add your own reference number to this export?
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
        </strong>
        <span class="govuk-phase-banner__text">
        Version 14 - This is not a live service.
        </span>
    </p>
  </div>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="">Waste tracking service</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="dashboard">Green list waste overview</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="bulk-upload.html">Upload multiple exports</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Check and correct errors
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

<!--------- ERROR SUMMARY ------------------->

    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
        <h2 class="govuk-error-summary__title">
            There are problems with your CSV file
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
            <li>
                Filename: <b>csv-template.csv</b></a>
            </li>
            </ul>
        </div>
        </div>
    </div>

<!--------- ERROR ADVICE ------------------->

    <h1 class="govuk-heading-l">Check and correct errors</h1>

    <p class="govuk-body">Check the errors listed with your CSV file and what you must do to correct them.</p>
    <p class="govuk-body">Make the changes and upload your CSV file again. This will replace your previous upload.</p>
    <p class="govuk-body govuk-!-margin-bottom-7">You cannot submit your exports until you’ve corrected the errors.</p>

<!--------- ERROR LIST TABLE ------------------->

        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Errors</th>
                <th scope="col" class="govuk-table__header">Column heading</th>
                <th scope="col" class="govuk-table__header">Correction</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell error-table-cell"><a href="bulk-errors-1b-basel.html">Check 11 errors</a></td>
                <td class="govuk-table__cell">Basel Annex IX code</td>
                <td class="govuk-table__cell">Enter the Basel Annex IX code in the correct format. This should be one letter and 4 numbers. For example, B1030.
                    <br><br>
                    If a Basel Annex IX code does not apply to your shipment, enter ‘NA’ for not applicable. Do not leave the cell blank.</td>
              </tr>
              
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="bulk-errors-1b-ewc.html">Check 8 errors</a></td>
                <td class="govuk-table__cell">EWC code</td>
                <td class="govuk-table__cell">Enter the EWC code in the correct format. This should be 6 digits. For example, 010101.
                    <br><br>
                    If a EWC code does not apply to your shipment, enter ‘NA’ for not applicable. Do not leave the cell blank.</td>
              </tr>

              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="bulk-errors-1b-date.html">Check 4 errors</a></td>
                <td class="govuk-table__cell">Waste collection date</td>
                <td class="govuk-table__cell">Enter the date the waste will be collected. Use slashes between numbers. For example, DD/MM/YYYY.
                    <br><br>
                    You must enter a date in the future.</td>
              </tr>

              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="bulk-errors-1b-desc.html">Check 6 errors</a></td>
                <td class="govuk-table__cell">Waste description</td>
                <td class="govuk-table__cell">Enter a waste description. Give the usual description of the waste. For example, baled PET bottles, bagged HDPE pellets or OCC paper.
                    <br><br>
                    The waste description must be 200 characters or less.</td>
              </tr>

              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="bulk-errors-1b-weight.html">Check 10 errors</a></td>
                <td class="govuk-table__cell">Waste quantity in tonnes</td>
                <td class="govuk-table__cell">Enter the waste quantity using numbers. If you provided the waste quantity in cubic meters, enter ‘NA’ for not applicable. Do not leave the cell blank.
                    <br><br>
                    Do not include the weight of the container or vehicle.</td>
              </tr>

              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="bulk-errors-1b-phone.html">Check 13 errors</a></td>
                <td class="govuk-table__cell">Importer phone number</td>
                <td class="govuk-table__cell">Enter a 15 digit phone number in the correct format. Include the country code in brackets. For example, (0045) for Denmark. 
                </td>
              </tr>

              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="bulk-errors-1b-email.html">Check 1 error</a></td>
                <td class="govuk-table__cell">First carrier email</td>
                <td class="govuk-table__cell">Enter an email address in the correct format, like name@example.com.</td>
              </tr>

              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell"><a href="bulk-errors-1b-transport.html">Check 1 error</a></td>
                <td class="govuk-table__cell">First carrier means of transport</td>
                <td class="govuk-table__cell">Enter whether the waste will be transported by road, rail, sea or air.</td>
              </tr>
            </tbody>
          </table>

          <div class="govuk-!-padding-bottom-4"></div>

<!--------- UPLOAD FILE SELECT ------------------->

      <form class="form" method="post">

        <h2 class="govuk-heading-m">
          Upload your corrected CSV file
        </h2>
      
        <div class="govuk-form-group">
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>

        {{ govukButton({
          text: 'Upload'
        }) }}

      </form>

    </div>
</div>

{% endblock %}
