{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  You have added 2 additional waste carriers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <form method="post" action="">

          <h1 class="govuk-heading-l">
            Waste carriers
          </h1>

          <h2 class="govuk-heading-m">First waste carrier</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-1">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  <p class="govuk-body">{{data['first-carrier-org-name']}}
                  <br>{{data['first-carrier-typeahead']}}</p>
                </dt>
                <dd class="govuk-summary-list__value">
        
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">
                    Change<span class="govuk-visually-hidden"> change</span>
                </a>
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            </dl>

          <br>
          <br>

    <!-- {% if data['carrier-add-2'] == 'true' %} -->

          <h2 class="govuk-heading-m">Second waste carrier</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-1">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  <p class="govuk-body">{{data['second-carrier-org-name']}}
                    <br>{{data['second-carrier-typeahead']}}</p>
                </dt>
                <dd class="govuk-summary-list__value">
        
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">
                    Change<span class="govuk-visually-hidden"> change</span>
                </a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="">
                    Remove<span class="govuk-visually-hidden"> remove</span>
                  </a>
                </dd>
            </div>
            </dl>

            <br>
          <br>

    <!-- {% endif %} -->

    <!-- {% if data['carrier-add-3'] == 'true' %} -->

          <h2 class="govuk-heading-m">Third waste carrier</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-1">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  <p class="govuk-body">{{data['third-carrier-org-name']}}
                    <br>{{data['third-carrier-typeahead']}}
                  </p>
                </dt>
                <dd class="govuk-summary-list__value">
        
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">
                    Change<span class="govuk-visually-hidden"> change</span>
                </a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="">
                    Remove<span class="govuk-visually-hidden"> remove</span>
                  </a>
                </dd>
            </div>
            </dl>

    <!-- {% endif %} -->

    {% if data['carrier-add-4'] == 'true' %}

          <h2 class="govuk-heading-m">Fourth waste carrier</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-1">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  <p class="govuk-body">{{data['fourth-carrier-org-name']}}
                    <br>{{data['fourth-carrier-typeahead']}}
                  </p>
                </dt>
                <dd class="govuk-summary-list__value">
        
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">
                    Change<span class="govuk-visually-hidden"> change</span>
                </a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="">
                    Remove<span class="govuk-visually-hidden"> remove</span>
                  </a>
                </dd>
            </div>
            </dl>

    {% endif %}

    {% if data['carrier-add-5'] == 'true' %}

          <h2 class="govuk-heading-m">Fifth waste carrier</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-1">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-one-half">
                  <p class="govuk-body">{{data['fifth-carrier-org-name']}}
                    <br>{{data['fifth-carrier-typeahead']}}
                  </p>
                </dt>
                <dd class="govuk-summary-list__value">
        
                </dd>
                <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">
                    Change<span class="govuk-visually-hidden"> change</span>
                </a>
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="">
                    Remove<span class="govuk-visually-hidden"> remove</span>
                  </a>
                </dd>
            </div>
            </dl>

    {% endif %}

    <br>
    <br>

    {% if data['carrier-count'] == '5' %}
    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    {% else %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="add-another-carrier-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
          Do you need to add another waste carrier?
        </legend>
        <div id="contact-hint" class="govuk-hint">
          You can have up to 5 waste carriers.
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="add-another-carrier" name="add-another-carrier" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="add-another-carrier">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="add-another-carrier" name="add-another-carrier" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="add-another-carrier">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button href="carrier-add-3" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    {% endif %}

    {% include "./includes/return-to-link.html" %}

    </form>

  </div>
</div>

{% endblock %}
