{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  Enter the fourth waste carrier’s details
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">

    <h1 class="govuk-heading-l">
      Enter the fourth waste carrier’s details
    </h1>

      <fieldset class="govuk-fieldset">

        <div class="govuk-form-group">
          <label class="govuk-label" for="fourth-carrier-org-name">
            Organisation name <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input govuk-!-width-three-quarters" id="fourth-carrier-org-name" name="fourth-carrier-org-name" type="text" value="{{data['fourth-carrier-org-name']}}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="fourth-carrier-address">
            Address
          </label>
          <textarea class="govuk-textarea" id="fourth-carrier-address" name="fourth-carrier-address" rows="5" autocomplete="street-address"></textarea>
        </div>

        <h2 class="govuk-label-wrapper">
          <label class="govuk-label">
            Country
          </label>
        </h2>
        <div id="fourth-carrier-typeahead-container" class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-default-value="{{ data['fourth-carrier-typeahead'] }}">
        </div>

</fieldset>

<br>
<br>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Contact details
      </h1>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="fourth-carrier-contact-name">
        Full name
      </label>
      <input class="govuk-input govuk-!-width-three-quarters" id="fourth-carrier-contact-name" name="fourth-carrier-contact-name" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="first-carrier-email">
        Email address
      </label>
      <input class="govuk-input govuk-!-width-one-half" id="fourth-carrier-email" name="fourth-carrier-email" type="email" value="">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="fourth-carrier-phone">
        Phone number
      </label>
      <div id="contact-hint" class="govuk-hint">
         Include the country code for international numbers.
      </div>
      <input class="govuk-input govuk-!-width-one-third" id="fourth-carrier-phone" name="fourth-carrier-phone" type="tel" value="">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="fourth-carrier-fax">
        Fax number (optional)
      </label>
      <div id="contact-hint" class="govuk-hint">
         Include the country code for international numbers.
      </div>
      <input class="govuk-input govuk-!-width-one-third" id="fourth-carrier-fax" name="fourth-carrier-fax" type="tel" value="">
    </div>


  </fieldset>
</div>

      {{ govukButton({
        text: 'Save and continue'
      }) }}

      {% include "./includes/return-to-link.html" %}


    </form>

  </div>
</div>

{% endblock %}
