{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  Check this export
{% endblock %}

{% block content %}

          <div class="govuk-width-container">

            <main class="govuk-main-wrapper " id="main-content" role="main">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                  <h1 class="govuk-heading-l">Check this export</h1>

                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-width-one-third">
                        <h2 class="govuk-heading-m">Your reference</h2>
                      </dt>
                      <dd class="govuk-summary-list__value">
                      </dd>
                      <dd class="govuk-summary-list__actions">
                      </dd> 
                    </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Your own reference
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data ['ref-no'] == "yes" %}
                        <p class="govuk-body">{{data['enter-ref']}}</p>

                        {% elseif data ['ref-no'] == "no" %}
                        <p class="govuk-body">Not provided</p>
                        {% endif %}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="unique-ref">
                          Change<span class="govuk-visually-hidden"> Reference number</span>
                        </a>
                      </dd>
                    </div>
                    </dl>

                  <!---------------------  ABOUT THE WASTE ----------------------------------------------------->

                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div id="about-waste" class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-width-one-third">
                        <h2 class="govuk-heading-m">About the waste</h2>
                      </dt>
                      <dd class="govuk-summary-list__value">
                      </dd>
                      <dd class="govuk-summary-list__actions">
                      </dd> 
                    </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Waste code
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data ['code'] == "basel" %}
                        <p class="govuk-body">Basel</p>
                          <p class="govuk-body">{{ data['basel-annex-ix-typeahead'] }}</p>

                        {% elseif data ['code'] == "oecd" %}
                        <p class="govuk-body">OECD</p>
                          <p class="govuk-body">{{ data['oecd-typeahead'] }}</p>

                        {% elseif data ['code'] == "annex-a" %}
                        <p class="govuk-body">Annex IIIA</p>
                          <p class="govuk-body">{{ data['annex-iiia-typeahead'] }}</p>

                        {% elseif data ['code'] == "annex-b" %}
                        <p class="govuk-body">Annex IIIB</p>
                          <p class="govuk-body">{{ data['annex-iiib-typeahead'] }}</p>

                        {% elseif data ['code'] == "not-applicable" %}
                        <p class="govuk-body">Not applicable</p>
                        {% endif %}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="waste-codes-and-description">
                          Change<span class="govuk-visually-hidden"> waste code</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        EWC codes
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data ['ec-code'] == "Yes" %}
                        <p class="govuk-body">010101: wastes from mineral metalliferous excavation</p>

                        {% elseif data ['ec-code'] == "No" %}
                        <p class="govuk-body">Not provided</p>
                        {% endif %}


                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="code-add-another">
                          Change<span class="govuk-visually-hidden"> EWC codes</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        National code
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data ['nat-code'] == "yes" %}
                        <p class="govuk-body">{{data['national-code']}}</p>

                        {% elseif data ['nat-code'] == "no" %}
                        <p class="govuk-body">Not provided</p>
                        {% endif %}

                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="national-code">
                          Change<span class="govuk-visually-hidden"> national code</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Waste description
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['more-detail'] }}</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="waste-description">
                          Change<span class="govuk-visually-hidden"> waste description</span>
                        </a>
                      </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Waste quantity
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">
                          {% if data ['quantity'] == "yes" %}
                          <p class="govuk-body">Actual<br>{{ data['quantity-weight-actual'] }} tonnes</p>

                          {% elseif data ['quantity'] == "no" %}
                          <p class="govuk-body">Estimate<br>{{ data['quantity-weight-estimate'] }} tonnes</p>
                          {% endif %}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="quantity">
                          Change<span class="govuk-visually-hidden"> waste quantity</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Collection date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if data ['actual-or-estimate-date'] == "yes" %}
                        <p class="govuk-body">Actual</p>

                        {% elseif data ['actual-or-estimate-date'] == "no" %}
                        <p class="govuk-body">Estimate</p>
                        {% endif %}


                        {% if data['actual-or-estimate-date'] == 'no' %}
                          {# Estimated shipment date enrered #}
                          {{ data['estimate-shipment-day'] }}
                          {% if data['estimate-shipment-month'] == '1' or data['estimate-shipment-month'] == '01' %}
                            January
                          {% elif data['estimate-shipment-month'] == '2' or data['estimate-shipment-month'] == '02' %}
                            February
                          {% elif data['estimate-shipment-month'] == '3' or data['estimate-shipment-month'] == '03' %}
                            March
                          {% elif data['estimate-shipment-month'] == '4' or data['estimate-shipment-month'] == '04' %}
                            April
                          {% elif data['estimate-shipment-month'] == '5' or data['estimate-shipment-month'] == '05' %}
                            May
                          {% elif data['estimate-shipment-month'] == '6' or data['estimate-shipment-month'] == '06' %}
                            June
                          {% elif data['estimate-shipment-month'] == '7' or data['estimate-shipment-month'] == '07' %}
                            July
                          {% elif data['estimate-shipment-month'] == '8' or data['estimate-shipment-month'] == '08' %}
                            August
                          {% elif data['estimate-shipment-month'] == '9' or data['estimate-shipment-month'] == '09' %}
                            September
                          {% elif data['estimate-shipment-month'] == '10' or data['estimate-shipment-month'] == '10' %}
                            October
                          {% elif data['estimate-shipment-month'] == '11' or data['estimate-shipment-month'] == '11' %}
                            November
                          {% elif data['estimate-shipment-month'] == '12' or data['estimate-shipment-month'] == '12' %}
                            December
                          {% else %}
                            January
                          {% endif %}
                          {{ data['estimate-shipment-year'] }}
                        {% else %}
                          {# Actual shipment date enrered #}
                          {{ data['actual-shipment-day'] }}
                          {% if data['actual-shipment-month'] == '1' or data['actual-shipment-month'] == '01' %}
                            January
                          {% elif data['actual-shipment-month'] == '2' or data['actual-shipment-month'] == '02' %}
                            February
                          {% elif data['actual-shipment-month'] == '3' or data['actual-shipment-month'] == '03' %}
                            March
                          {% elif data['actual-shipment-month'] == '4' or data['actual-shipment-month'] == '04' %}
                            April
                          {% elif data['actual-shipment-month'] == '5' or data['actual-shipment-month'] == '05' %}
                            May
                          {% elif data['actual-shipment-month'] == '6' or data['actual-shipment-month'] == '06' %}
                            June
                          {% elif data['actual-shipment-month'] == '7' or data['actual-shipment-month'] == '07' %}
                            July
                          {% elif data['actual-shipment-month'] == '8' or data['actual-shipment-month'] == '08' %}
                            August
                          {% elif data['actual-shipment-month'] == '9' or data['actual-shipment-month'] == '09' %}
                            September
                          {% elif data['actual-shipment-month'] == '10' or data['actual-shipment-month'] == '10' %}
                            October
                          {% elif data['actual-shipment-month'] == '11' or data['actual-shipment-month'] == '11' %}
                            November
                          {% elif data['actual-shipment-month'] == '12' or data['actual-shipment-month'] == '12' %}
                            December
                          {% else %}
                            January
                          {% endif %}
                          {{ data['actual-shipment-year'] }}
                        {% endif %}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="date-of-shipment">
                          Change<span class="govuk-visually-hidden"> collection date</span>
                        </a>
                      </dd>
                    </div>
                  </dl>

                  <!---------------------  EXPORTER AND IMPORTER ----------------------------------------------------->


                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div id="exporter-importer" class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key govuk-!-width-one-third">
                        <h2 class="govuk-heading-m">Exporter and importer</h2>
                      </dt>
                      <dd class="govuk-summary-list__value">
                      </dd>
                      <dd class="govuk-summary-list__actions">
                      </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Exporter details
                      </dt>
                      <dd class="govuk-summary-list__value">
                      <p class="govuk-body">{{ data['exporter-full-name'] }}</p>
                      <p class="govuk-body">28 Wakefield street<br>Manchester<br>M1 4YU</p>
                      <p class="govuk-body">{{ data['exporter-email'] }}</p>
                      <p class="govuk-body">{{ data['exporter-phone'] }}</p>
                      <p class="govuk-body">{{ data['exporter-fax'] }}</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="who-arranged-shipment-details">
                          Change<span class="govuk-visually-hidden"> exporter details</span>
                        </a>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Importer details
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ data['importer-name'] }}</p>
                        <p class="govuk-body">{{ data['importer-address'] }}</p>
                        <p class="govuk-body">{{ data['importer-typeahead'] }}</p>
                        <p class="govuk-body">{{ data['importer-contact-name'] }}</p>
                        <p class="govuk-body">{{ data['importer-contact-by-phone'] }}</p>
                        <p class="govuk-body">{{ data['importer-contact-by-fax'] }}</p>
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="importer-consignee">
                          Change<span class="govuk-visually-hidden"> importer details</span>
                        </a>
                      </dd>
                    </div>
                    </dl>

                    <!---------------------  JOURNEY OF WASTE ----------------------------------------------------->

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                      <div id="waste-journey" class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-width-one-third">
                          <h2 class="govuk-heading-m">Journey of waste</h2>
                        </dt>
                        <dd class="govuk-summary-list__value">
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd> 
                      </div>

                      <!--------- First waste carrier ------------------->

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          First waste carrier
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">{{ data['first-carrier-org-name'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-address'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-typeahead'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-contact-name'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-email'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-phone'] }}</p>
                          <p class="govuk-body">{{ data['first-carrier-fax'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="carrier-add-1">
                            Change<span class="govuk-visually-hidden"> first waste carrier</span>
                          </a>
                        </dd>
                      </div>   

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          First carrier transport waste
                        </dt>
                        <dd class="govuk-summary-list__value">
                          {% if data ['transport'] == "shipping" %}
                          <p class="govuk-body">Shipping Container</p>
                            <p class="govuk-body">{{ data['transport-shipping'] }}</p>
                            <p class="govuk-body">{{ data['shipping-reg'] }}</p>

                            {% elseif data ['transport'] == "trailer" %}
                            <p class="govuk-body">Trailer</p>
                              <p class="govuk-body">{{ data['trailer-reg'] }}</p>
                              <p class="govuk-body">{{ data['trailer-number'] }}</p>

                              {% elseif data ['transport'] == "bulk-vessel" %}
                              <p class="govuk-body">Bulk vessel</p>
                                <p class="govuk-body">{{ data['transport-vessel'] }}</p>

                            {% endif %}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="carrier-transport-1b">
                            Change<span class="govuk-visually-hidden"> first carrier transport waste</span>
                          </a>
                        </dd>
                      </div>

                      <!--------- Second waste carrier ------------------->
                      {% if data ['imports-carrier-add-2'] == "true" %}

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Second waste carrier
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">{{ data['second-carrier-org-name'] }}</p>
                          <p class="govuk-body">{{ data['second-carrier-address'] }}</p>
                          <p class="govuk-body">{{ data['second-carrier-typeahead'] }}</p>
                          <p class="govuk-body">{{ data['second-carrier-contact-name'] }}</p>
                          <p class="govuk-body">{{ data['second-carrier-email'] }}</p>
                          <p class="govuk-body">{{ data['second-carrier-phone'] }}</p>
                          <p class="govuk-body">{{ data['second-carrier-fax'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="carrier-add-2">
                            Change<span class="govuk-visually-hidden"> second waste carrier</span>
                          </a>
                        </dd>
                      </div>   

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Second carrier transport waste
                        </dt>
                        <dd class="govuk-summary-list__value">
                          {% if data ['transport-2'] == "shipping" %}
                          <p class="govuk-body">Shipping Container</p>
                            <p class="govuk-body">{{ data['transport-shipping-2'] }}</p>
                            <p class="govuk-body">{{ data['shipping-reg-2'] }}</p>

                            {% elseif data ['transport-2'] == "trailer" %}
                            <p class="govuk-body">Trailer</p>
                              <p class="govuk-body">{{ data['trailer-reg-2'] }}</p>
                              <p class="govuk-body">{{ data['trailer-number-2'] }}</p>

                              {% elseif data ['transport-2'] == "bulk-vessel" %}
                              <p class="govuk-body">Bulk vessel</p>
                                <p class="govuk-body">{{ data['transport-vessel-2'] }}</p>

                          {% endif %}
                        </dd>

                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="carrier-transport-2b">
                            Change<span class="govuk-visually-hidden"> first carrier transport waste</span>
                          </a>
                        </dd>
                      </div>

                      {% else %}
                      <div></div>
                      {% endif %}

                      <!--------- Waste collection details -------------------> 

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Waste collection details
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">{{ data['waste-name'] }}</p>
                          <p class="govuk-body">5 Stafford Park<br>Telford<br>TF6 3RT<br>England</p>
                          <p class="govuk-body">{{ data['carrier-collect-full-name'] }}</p>
                          <p class="govuk-body">{{ data['carrier-collect-email'] }}</p>
                          <p class="govuk-body">{{ data['carrier-collect-phone'] }}</p>
                          <p class="govuk-body">{{ data['carrier-collect-fax'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="waste-generator">
                            Change<span class="govuk-visually-hidden"> waste collection details</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Location waste leaves the UK
                        </dt>
                        <dd class="govuk-summary-list__value">
                          {% if data ['exit'] == "yes" %}
                          <p class="govuk-body">{{ data['exit-location'] }}</p>

                          {% elseif data ['exit'] == "no" %}
                          <p class="govuk-body">Not provided</p>
                          {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="point-of-exit">
                            Change<span class="govuk-visually-hidden"> Leaving the UK</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Countries waste will travel through
                        </dt>
                        <dd class="govuk-summary-list__value">
                          {% if data ['countries-state'] == "yes" %}
                          <p class="govuk-body">{{ data['transit-countries'] }}</p>

                          {% elseif data ['countries-state'] == "no" %}
                          <p class="govuk-body">Not provided</p>
                          {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="countries-states-concerned-new.html">
                            Change<span class="govuk-visually-hidden"> Transit countries</span>
                          </a>
                        </dd>
                      </div>
                      </dl>

                      <!---------------------  TREATMENT OF WASTE ----------------------------------------------------->

                      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                        <div id="waste-treatment" class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key govuk-!-width-one-third">
                            <h2 class="govuk-heading-m">Treatment of waste</h2>
                          </dt>
                          <dd class="govuk-summary-list__value">
                          </dd>
                          <dd class="govuk-summary-list__actions">
                          </dd> 
                        </div>

                        <!------ Interim Facility  ------>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Interim site
                          </dt>
                          <dd class="govuk-summary-list__value">
                            {% if data ['interim-site'] == "yes" %}
                            <p class="govuk-body">{{ data['interim-site-name'] }}</p>
                            <p class="govuk-body">{{ data['interim-site-name-address'] }}</p>
                            <p class="govuk-body">{{ data['interim-site-typeahead'] }}</p>
                            <p class="govuk-body">{{ data['interim-site-full-name'] }}</p>
                            <p class="govuk-body">{{ data['interim-site-email'] }}</p>
                            <p class="govuk-body">{{ data['interim-site-phone'] }}</p>
                            <p class="govuk-body">{{ data['interim-site-fax'] }}</p>

                            {% elseif data ['interim-site'] == "no" %}
                            <p class="govuk-body">Not applicable</p>
                            {% endif %}

                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="interim-site.html">
                              Change<span class="govuk-visually-hidden"> interim site</span>
                            </a>
                          </dd>
                        </div>

                        {% if data ['interim-site-recovery-code-status'] == "Completed" %}

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                           Interim recovery code
                          </dt>
                          <dd class="govuk-summary-list__value">
                            {% if data ['interim-rcode'] == "R12" %} R12: Exchange of wastes for submission to any of the operations numbered R01 to R11
                            {% elif data ['interim-rcode'] == "R13"%} R13: Storage of wastes pending any of the operations numbered R01 to R12 (excluding temporary storage, pending collection, on the site where it is produced)
                             {% endif %}  
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="interim-site-recovery-code.html">
                              Change<span class="govuk-visually-hidden"> interim recovery code</span>
                            </a>
                          </dd>
                        </div>

                        {% else %}
                      <div></div>
                      {% endif %}

                        <!------ Recovery Facility  ------>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            {% if data ['code'] == "not-applicable" %} Laboratory name
                            {% else %} Recovery facility name
                             {% endif %}
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['facility-name'] }}</p>
                            <p class="govuk-body">{{ data['facility-address'] }}</p>
                            <p class="govuk-body">{{ data['facility-or-lab-typeahead'] }}</p>
                            <p class="govuk-body">{{ data['facility-full-name'] }}</p>
                            <p class="govuk-body">{{ data['facility-email'] }}</p>
                            <p class="govuk-body">{{ data['facility-phone'] }}</p>
                            <p class="govuk-body">{{ data['facility-fax'] }}</p>
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="recovery-facility-laboratory">
                              Change<span class="govuk-visually-hidden"> recovery facility</span>
                            </a>
                          </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            {% if data ['code'] == "not-applicable" %} Disposal code
                            {% else %} Recovery code
                             {% endif %}
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['recovery-operation-typeahead']}}</p>
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="recovery-operation">
                              Change<span class="govuk-visually-hidden"> recovery code</span>
                            </a>
                          </dd>
                        </div>

                        <!------ First Recovery Facility  ------>

                        {% if data ['recovery-facility-first-status'] == "Completed" %}

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            First recovery facility name
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['first-recovery-name'] }}</p>
                            <p class="govuk-body">{{ data['first-recovery-address'] }}</p>
                            <p class="govuk-body">{{ data['first-recovery-typeahead'] }}</p>
                            <p class="govuk-body">{{ data['first-recovery-full-name'] }}</p>
                            <p class="govuk-body">{{ data['first-recovery-email'] }}</p>
                            <p class="govuk-body">{{ data['first-recovery-phone'] }}</p>
                            <p class="govuk-body">{{ data['first-recovery-fax'] }}</p>
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="recovery-facility-first">
                              Change<span class="govuk-visually-hidden">First recovery facility</span>
                            </a>
                          </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            First recovery code
                          </dt>
                          <dd class="govuk-summary-list__value">
                            <p class="govuk-body">{{ data['first-recovery-operation-typeahead'] }}</p>
                          </dd>
                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="recovery-code-first.html">
                              Change<span class="govuk-visually-hidden"> first recovery code</span>
                            </a>
                          </dd>
                        </div>

                        {% else %}
                      <div></div>
                      {% endif %}

                      <!------ Second Recovery Facility  ------>
                        
                      {% if data ['recovery-facility-second-status'] == "Completed" %}

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Second recovery facility name
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">{{ data['second-recovery-name'] }}</p>
                          <p class="govuk-body">{{ data['second-recovery-address'] }}</p>
                          <p class="govuk-body">{{ data['second-recovery-typeahead'] }}</p>
                          <p class="govuk-body">{{ data['second-recovery-full-name'] }}</p>
                          <p class="govuk-body">{{ data['second-recovery-email'] }}</p>
                          <p class="govuk-body">{{ data['second-recovery-phone'] }}</p>
                          <p class="govuk-body">{{ data['second-recovery-fax'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="recovery-facility-second">
                            Change<span class="govuk-visually-hidden">Second recovery facility</span>
                          </a>
                        </dd>
                      </div>

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Second recovery code
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">{{ data['second-recovery-operation-typeahead'] }}</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="recovery-code-second.html">
                            Change<span class="govuk-visually-hidden"> second recovery code</span>
                          </a>
                        </dd>
                      </div>

                      {% else %}
                    <div></div>
                    {% endif %}

                  </dl>

                  <!--------- DECLARATION ------------------->

                  <h2 class="govuk-heading-m">Now submit export</h2>

                  <p class="govuk-body">By submitting this export, you confirm that:</p>

                  {% if data ['code'] == "not-applicable" %}
                  <ul class="govuk-list govuk-list--bullet">
                    <li>all the information you've provided is complete and correct to the best of your knowledge</li>
                    <li>you've checked with the relevant authorities if there are any local controls that apply in any country involved in the journey of the waste</li>
                    <li>you've classified the waste appropriately</li>
                  </ul>

                  {% else %}
                  <ul class="govuk-list govuk-list--bullet">
                    <li>all the information you've provided is complete and correct to the best of your knowledge</li>
                    <li>there is an effective written contractual obligation with the consignee</li>
                    <li>you've checked with the relevant authorities if there are any local controls that apply in any country involved in the journey of the waste</li>
                    <li>you've classified the waste appropriately</li>
                  </ul>

                  {% endif %}

                  <form action="confirmation" method="post" novalidate>

                    <input type="hidden" name="answers-checked" value="true">

                    <div class="govuk-!-padding-bottom-6"></div>

                    <button class="govuk-button" data-module="govuk-button">
                      Confirm and submit
                    </button>

                          {% include "./includes/return-to-link.html" %}

                  </form>

                </div>
              </div>
            </main>
          </div>


{% endblock %}
