{% extends "../layouts/layout-importer-current.html" %}

{% block pageTitle %}
  Do you need to add another waste carrier?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="add-second-carrier-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--l">
            Do you need to add another waste carrier?
          </legend>
          <div id="contact-hint" class="govuk-hint">
            You can have up to 5 additional waste carriers.
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="imports-add-second-carrier" name="imports-add-second-carrier" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="imports-add-second-carrier">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="imports-add-second-carrier" name="imports-add-second-carrier" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="imports-add-second-carrier">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

            {{ govukButton({
              text: 'Save and continue'
            }) }}

      {% include "./includes/imports-return-to-link.html" %}


    </form>

  </div>
</div>

{% endblock %}
