{% extends "../layouts/layout-importer-current.html" %}

{% block pageTitle %}
  You have added 1 additional waste carrier
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <form method="post" action="">

          <h1 class="govuk-heading-l">
            Waste carriers
          </h1>

          <h2 class="govuk-heading-m">First waste carrier</h2>
          <p class="govuk-body">{{data['imports-first-carrier-org-name']}}</p>

          <br>
          <br>

          <h2 class="govuk-heading-m">
            Additional waste carriers
          </h2>

    <div class="govuk-form-group">
    {% for item in items %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-1">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
        {{item}}
        </dt>
        <dd class="govuk-summary-list__value">

        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">
            Change<span class="govuk-visually-hidden"> change</span>
        </a>
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="">
            Remove<span class="govuk-visually-hidden"> delete</span>
        </a>
        </dd>
    </div>
    </dl>
    {%endfor%}

    <br>
    <br>

    </div>

    {% if data['imports-carrier-count'] == '4' %}
    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    {% else %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="add-third-carrier-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--m">
          Do you need to add another waste carrier?
        </legend>
        <div id="contact-hint" class="govuk-hint">
          You can have up to 5 waste carriers.
        </div>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="imports-add-third-carrier" name="imports-add-third-carrier" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="imports-add-third-carrier">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="imports-add-third-carrier" name="imports-add-third-carrier" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="imports-add-third-carrier">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button href="imports-carrier-add-3" class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
    {% endif %}

    </form>

  </div>
</div>

{% endblock %}
