{% extends "../layouts/layout-importer-current.html" %}

{% block pageTitle %}
{% if data ['imports-code'] == "not-applicable" %}
      Did the laboratory receive the same waste quantity as stated on the Annex VII?
    {% else %}
      Did the recovery facility receive the same waste quantity as stated on the Annex VII?
    {% endif %}
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        Version 14 - This is not a live service.
      </span>
    </p>
  </div>
  
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="" method="post">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

              <!-- Dynamic H1 -->  

              {% if data ['imports-code'] == "not-applicable" %}
                  Did the laboratory receive the same waste quantity as stated on the Annex VII?
              {% else %}
                  Did the recovery facility receive the same waste quantity as stated on the Annex VII?
              {% endif %}  

              </legend>

              <!-- Dynamic Inset text -->  

              {% if data ['imports-code'] == "not-applicable" %}
              <div class="govuk-inset-text">
                You told us the actual waste quantity was <b>20kg</b> 
              </div>
              {% else %}
              <div class="govuk-inset-text">
                You told us the actual waste quantity was <b>20 tonnes</b> 
              </div>
              {% endif %} 
              

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="imports-recovery-weight" name="imports-recovery-weight" type="radio" value="email" data-aria-controls="conditional-imports-recovery-weight">
                  <label class="govuk-label govuk-radios__label" for="imports-recovery-weight">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="imports-recovery-weight-2" name="imports-recovery-weight" type="radio" value="phone" data-aria-controls="conditional-imports-recovery-weight-2">
                  <label class="govuk-label govuk-radios__label" for="imports-recovery-weight-2">
                    No
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-imports-recovery-weight-2">
                  <div class="govuk-form-group">

                    <!-- Dynamic text input label -->  

                    {% if data ['imports-code'] == "not-applicable" %}
                    <label class="govuk-label" for="imports-recovery-weight-amount-kg">
                      Enter the weight received
                    </label>
                    <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="imports-recovery-weight-amount-kg" name="imports-recovery-weight-amount-kg" type="number">
                    <div class="govuk-input__suffix" aria-hidden="true">kg</div>
                  </div>
                  {% else %}
                    <label class="govuk-label" for="imports-recovery-weight-amount-ton">
                      Enter the weight received (tonnes)
                    </label>
                    <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="imports-recovery-weight-amount-ton" name="imports-recovery-weight-amount-ton" type="number">
                    <div class="govuk-input__suffix" aria-hidden="true">t</div>
                  {% endif %}  

                  </div>
                </div>

              </div>
            </fieldset>

          </div>

          <div class="imports-name-button">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>

          {% include "./includes/imports-return-to-link.html" %}
        
        </form>

    </div>
  </div>

{% endblock %}
