{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  Will the waste go to an interim site?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="interim-site-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Will the waste go to an interim site before it reaches the final recovery facility?
            </h1>
          </legend>
          <div id="interim-site-hint" class="govuk-hint">
            This includes for storage or processing.
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="interim-site" name="interim-site" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="interim-site">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="interim-site-2" name="interim-site" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="interim-site">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is an interim site?
          </span>
        </summary>
        <div class="govuk-details__text">
          An interim site is an authorised facility where the waste gets limited additional processing. For example, at an interim site different plastic waste grades could be separated and stored temporarily before they move to one or more final recovery facilities.
        </div>
      </details>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
      <!-- <a class="govuk-link" href="javascript:history.go(-1)">Cancel and return to template list</a> -->

    </form>

      <!-- {{ govukButton({
        text: 'Continue'
      }) }} -->

      {% include "./includes/return-to-link.html" %}
        

    </div>
  </div>

{% endblock %}
