{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  Do you have a national code?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" action="" method="post">

              <div class="govuk-form-group">


              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Do you have a national code?
                    </h1>
                  </legend>
                  <p class="govuk-body">A national code is also known as a commodity code and may be required by the country you’re exporting to.
                    <br>
                    <br>This information is optional.</p>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="nat-code" name="template-nat-code" type="radio" value="yes" data-aria-controls="conditional-contact" {{ checked("template-nat-code", "yes") }}>
                      <label class="govuk-label govuk-radios__label" for="template-national-code">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="national-code">
                          Enter code
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="national-code" name="template-national-code" type="text" value="{{data['template-national-code']}}">
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="nat-code-2" name="template-nat-code" type="radio" value="no" data-aria-controls="conditional-contact-2" {{ checked("template-nat-code", "no") }}>
                      <label class="govuk-label govuk-radios__label" for="nat-code-2">
                        No
                      </label>
                    </div>
                  </div>

                </fieldset>
              </div>
            </div>

            {{ govukButton({
              text: 'Save and continue'
            }) }}

            {% include "./includes/template-return-to-link.html" %}


          </form>

        </div>
      </div>

    {% endblock %}
