{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  How will the fourth waste carrier transport the waste?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">

      <div class="govuk-form-group">
        
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              How will the fourth waste carrier transport the waste?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">

            <!-- SHIPPING CONTAINER -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="transport-shipping-4" name="transport-4" type="radio" value="shipping" {{ checked("transport-4", "shipping") }}>
              <label class="govuk-label govuk-radios__label" for="transport-shipping-4">
                Shipping Container
              </label>
            </div>

            <!-- TRAILER -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="transport-trailer-4" name="transport-4" type="radio" value="trailer" {{ checked("transport-4", "trailer") }}>
              <label class="govuk-label govuk-radios__label" for="transport-trailer-4">
                Trailer
              </label>
            </div>

            <!-- BULK VESSEL -->

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="transport-vessel-4" name="transport-4" type="radio" value="bulk-vessel" {{ checked("transport-4", "bulk-vessel") }}>
              <label class="govuk-label govuk-radios__label" for="transport-vessel-4">
                Bulk vessel
              </label>
            </div>

          </div>

        </fieldset>
      </div>

      {{ govukButton({
        text: 'Continue'
      }) }}

      {% include "./includes/template-return-to-link.html" %}

    </form>

  </div>
</div>

{% endblock %}