{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  Update template name - Export green list waste
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Prototype
      </strong>
      <span class="govuk-phase-banner__text">
        Version 14 - This is not a live service.
      </span>
    </p>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What do you want to name your template?
      </h1>

      <form class="form" action="" method="post">

          <div class="govuk-form-group">
            <label class="govuk-label" for="template-name">
                Enter your template name
              </label>
            <input class="govuk-input" id="template-name" name="template-name" type="text">
          </div>
        
          <div class="govuk-form-group">
            <label class="govuk-label" for="template-description">
                Enter a description for your template (optional)
            </label>
            <input class="govuk-input" id="template-description" name="template-description" type="text">
          </div>
        
          <!--<div class="template-name-button">-->
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </div>
          
          <!--<div class="template-name-link">-->
          <p class="govuk-body">
            <a class="govuk-link" href="dashboard.html">Cancel and return to green list waste overview</a>
          <!--</div>-->
          </p>
          
        
        </form>

    </div>
  </div>

{% endblock %}
