{% extends "../layouts/layout-exporter-current.html" %}

{% block pageTitle %}
  Recovery facility details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" method="post">

          {% if data ['code'] == "not-applicable" %}
          <h1 class="govuk-heading-l">
            Laboratory details
          </h1>
     
           {% else %}
          <h1 class="govuk-heading-l">
            Recovery facility details
          </h1>
        
          {% endif %}



            <div class="govuk-form-group">
            <label class="govuk-label" for="first-carrier-name">
              {% if data ['template-code'] == "not-applicable" %} Laboratory name
              {% else %} Recovery facility name
               {% endif %}
              <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input govuk-!-width-three-quarters" id="template-facility-name" name="template-facility-name" type="text" value="{{data['template-facility-name']}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="template-facility-address">
              Address
            </label>
            <textarea class="govuk-textarea" id="template-facility-address" name="template-facility-address" rows="5" autocomplete="street-address">{{ data['template-facility-address'] }}</textarea>
          </div>

          <h2 class="govuk-label-wrapper">
            <label class="govuk-label">
              Country
            </label>
            <div id="contact-hint" class="govuk-hint">
              We’ll also use this as the importing country.
            </div>
          </h2>
          <div id="facility-or-lab-typeahead-container" class="govuk-!-width-two-thirds govuk-!-margin-bottom-6" data-default-value="{{ data['facility-or-lab-typeahead'] }}">
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h1 class="govuk-fieldset__heading">
                  Contact details
                </h1>
              </legend>
              <div class="govuk-form-group">
                <label class="govuk-label" for="facility-full-name">
                  Full name
                </label>
                <input class="govuk-input govuk-!-width-three-quarters" id="template-acility-full-name" name="template-facility-full-name" type="text" value="{{data['template-facility-full-name']}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="template-facility-email">
                  Email address
                </label>
                <input class="govuk-input govuk-!-width-one-half" id="template-facility-email" name="template-facility-email" type="email" value="{{data['template-facility-email']}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="template-facility-phone">
                  Phone number
                </label>
                <!-- <div id="contact-hint" class="govuk-hint">
                   Include the country code for international numbers.
                </div> -->
                <input class="govuk-input govuk-input--width-4 govuk-!-margin-right-2" id="template-facility-phone-code" name="template-facility-phone-code" type="tel" value="0049 {{data['template-facility-phone-code']}}">
                <input class="govuk-input govuk-!-width-one-third" id="template-facility-phone" name="template-facility-phone" type="tel" value="{{data['template-facility-phone']}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="template-facility-fax">
                  Fax number (optional)
                </label>
                <!-- <div id="contact-hint" class="govuk-hint">
                   Include the country code for international numbers.
                </div> -->
                <input class="govuk-input govuk-input--width-4 govuk-!-margin-right-2" id="template-facility-fax-code" name="template-facility-fax-code" type="tel" value="0049 {{data['template-facility-fax-code']}}">
                <input class="govuk-input govuk-!-width-one-third" id="template-facility-fax" name="template-facility-fax" type="tel" value="{{data['template-facility-fax']}}">
              </div>

              <div class="govuk-!-padding-bottom-2"></div>


            </fieldset>
          </div>

        {{ govukButton({
          text: 'Save and continue'
        }) }}

        {% include "./includes/template-return-to-link.html" %}


      </form>

    </div>
  </div>

{% endblock %}
