{% extends "layouts/design-iterations-layout.html" %}

{% block pageTitle %}
  Export green list waste
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
  {% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <form method="post">

    <p>This prototype is a way of exploring ideas and is subject to change.</p>

        <p>Contact <a href="mailto:phil.isaac@defra.gov.uk">Phil Isaac</a> (Interaction Designer)
          or <a href="mailto:melissa.massey@defra.gov.uk">Melissa Massey</a> (Content Designer) if you have any questions.</p>
        <br><br>

        <h1 class="govuk-heading-l">Current prototypes</h1>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Exporter</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Sprint</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Comments</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="exporter-v11/dashboard">V11</a>
              <td class="govuk-table__cell">26 to 30</td>
              <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Iterated hint text for reference number, national code, exporter details and exit location</li>
                  <li>Moved 'Date of shipment' from section 1 to section 3</li>
                  <li>Reduced waste description Textarea size and implemented 100 character limit </li>
                  <li>Iterated waste description help text (removed reference to EN codes) </li>
                  <li>Changed transit countries (section 3) from a free text entry to 'add another' pattern </li>
                  <li>Quantity of Waste link is now disabled until a Waste Code has been selected. Usability now matches the 'Cannot start yet' tag. </li>
                </ul>
                </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="exporter-v10/dashboard">V10</a>
              <td class="govuk-table__cell">22 to 25</td>
              <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Removed units of measurement from waste quantity screens</li>
                  <li>Iterated help text for collection date and waste exit location</li>
                  <li>Changed 'delete' to 'cancel' on update exports page</li>
                  <li>Added cancel reasons to update export journey</li>
                  <li>Added cancel journey for submitted exports</li>
                </ul>
                </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="exporter-v9/dashboard">V9</a>
              <td class="govuk-table__cell">20 & 21 </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list govuk-list--bullet">
                  <li>Iterated point of exit header</li>
                  <li>Iterated estimate journey and first waste carrier update journey</li>
                  <li>Iterated 'update an export with actual details' page</li>
                  <li>Added 'update export with actual details' CYA page</li>
                  <li>Iterated update data pages for quantity of waste, collection date and first waste carrier details</li>
                  <li>Added updates confirmation page</li>
                  <li>Iterated standard confirmation page to include updates and estimates</li>
                  <li>Different quantity of waste scenarios, <a class="govuk-link" href="https://app.mural.co/t/defra7833/m/defra7833/1654522595719/07f6cbbb234610c5ca36453821dd66f77f128365?sender=udd7e06a9e761293902e99913
                    ">link to flow</a> and stand alone pages:</li>
                  <div><p class="govuk-body"><a class="govuk-link" href="exporter-v9/update-quantity-metres">Cubic metres</a></p></div>
                  <div><p class="govuk-body"><a class="govuk-link" href="exporter-v9/update-quantity-kilograms">Kilograms</a></p></div>
                  <div><p class="govuk-body"><a class="govuk-link" href="exporter-v9/update-quantity">Tonnes</a></p></div>
                  <li>Redesigned submitted exports page and view export from that page</li>
                </ul>
                </td>
            </tr>



          </tbody>
        </table>


        <br>
        <br>


    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Agency Officer</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Sprint</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Comments</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="agency-officer-v4/_index">V4</a>
          <td class="govuk-table__cell">Unknown</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="agency-officer-v3/_index">V3</a>
          <td class="govuk-table__cell">Unknown</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>



    {% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Previous prototypes",
  classes: "govuk-button--secondary",
  href: 'previous-prototypes'
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View GDS assessments
    </span>
  </summary>
  <h1 class="govuk-heading-l govuk-!-padding-top-4">
    Assessments
  </h1>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Phase</th>
        <th class="govuk-table__header" scope="col">Actor</th>
        <th class="govuk-table__header" scope="col">Date</th>
        <th class="govuk-table__header" scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="alpha-assessment-agency-officer/_index">Alpha</a>
        </td>
        <td class="govuk-table__cell">
          Agency Officer
        </td>
        <td class="govuk-table__cell">
          1 Jul 2021
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--green">
            Passed
          </strong>
        </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="alpha-assessment-exporter/_index">Alpha</a>
        </td>
        <td class="govuk-table__cell">
          Exporter
        </td>
        <td class="govuk-table__cell">
          1 Jul 2021
        </td>
        <td class="govuk-table__cell">
          <strong class="govuk-tag govuk-tag--green">
            Passed
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
</details>





</form>
  </div>

{% endblock %}
