
{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a live service.'
  }) }}
{% endblock %}

{% block content %}

<!-- Quick trial -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <!-- 5: SET iteration_2_agency_officer -->
      {% set iteration_2_agency_officer %}
      {{ govukButton({
        text: 'View Agency Officer prototype (2nd iteration)',
        classes: "govuk-!-margin-bottom-6",
        href: '/v4-agency-officer/index'
      }) }}
      {% endset %}

      <!-- 4: SET iteration_3_consignor -->
      {% set iteration_3_consignor %}
      <p class="govuk-body">Changes:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>introduction of dashboard</li>
        <li>linear data gather replaced with 'task list'</li>
        <li>revised content audit</li>
        <li>concept of 'templates' has been introduced</li>
        <li>ability to update weight, date of shipment, and first carrier has been introduced</li>
        <li>address patterns: with England, Northern Ireland, Scotland and Wales options offered when international isn't applicable</li>
        <li>carriers: looping mechanism with interstitial list of 'carriers added' has been introduced</li>
        <li>multiple transit destinations looping mechanism has been added</li>
        <li>GOVUK orientation page has been introduced</li>
        <li>Defra ID account creation and account sign in, which includes Government Gateway, has been included</li>
      </ul>
      <p class="govuk-body">Known limitations and issues:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>maximum of three carriers can be added</li>
        <li>maximum of three transit destinations can be added</li>
        </ul>
      </ul>
      <p class="govuk-body"><strong>Exporter prototype (3rd iteration) shortcuts:</strong></p>
      <ol class="govuk-list govuk-list--number govuk-!-margin-left-2">
        <li><a href="/v3-consignor/email" class="govuk-link">On-boarding email</a></li>
        <li><a href="/v3-consignor/service-start" class="govuk-link">Service orientation page</a></li>
        <li><a href="/v3-consignor/service-start-gg-create" class="govuk-link">Gateway and Defra ID registration</a></strong></li>
        <li><a href="/defra-id/login" class="govuk-link">Defra ID sign in</a></li>
      </ol>
      {{ govukButton({
        text: '5. Dashboard home',
        classes: "govuk-!-margin-bottom-6",
        href: '/v3-consignor/dashboard'
      }) }}
      {% endset %}

      <!-- 3: SET iteration_1_agency_officer -->
      {% set iteration_1_agency_officer %}
      <p class="govuk-body"><strong>First iteration of Agency Officer journey:</strong></p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>guidance into the service through 'email'</li>
        <li>agency sign-in</li>
        <li>dashboard with routes through to:</li>
        <ul class="govuk-list govuk-list--bullet">
          <li>viewing Annex VII form alerts</li>
          <li>viewing all submitted Annex VII forms</li>
          <li>viewing and generating reports</li>
        </ul>
      </ul>
      {{ govukButton({
        text: 'View Agency Officer prototype (1st iteration)',
        classes: "govuk-!-margin-bottom-6",
        href: '/v3-agency-officer/index'
      }) }}
      {% endset %}

      <!-- 2: SET iteration_2_consignor -->
      {% set iteration_2_consignor %}
      <p class="govuk-body">Changes:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>reordering of company and contact person fields</li>
        <li>rewording of field labels so as to be more aligned with Annex VII form</li>
        <li>addition of <strong>Details</strong> component placeholders for help text to be added</li>
        <li><strong>Waste identification</strong> typeaheads now reside on a single page</li>
        <li><strong>Countries/states concerned</strong> all three aspects now reside on a single page</li>
        <li>input of international addresses now recognised</li>
      </ul>
      <p class="govuk-body">Known limitations and issues:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>maximum of three carriers can be added in this prototype</li>
        <li>currently unable to add more than one "transit" destination</li>
        <li><strong>Save and resume</strong> for multiple users and hand-offs between colleagues to be further investigated</li>
        <li>to do list and progression to be further investigated</li>
        </ul>
      </ul>
      {{ govukButton({
        text: 'View Exporter prototype (2nd iteration)',
        classes: "govuk-!-margin-bottom-6",
        href: '/v2/index'
      }) }}
      {% endset %}

      <!-- 1: SET iteration_1_consignor -->
      {% set iteration_1_consignor %}
      <p class="govuk-body">Digitised Annex VII form, assumptions:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>targeted user/persona (generator/broker)</li>
        <li>user has successfully logged into the service by "some means"</li>
        <li>the purpose of the service is prenotification only</li>
        <li>the service offers no tracking of waste</li>
        <li>assumed prenotification is of Green List Waste only</li>
      </ul>
      <p class="govuk-body">Known limitations and issues:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>maximum of three carriers can be added in this prototype</li>
        <li>currently unable to add more than one "transit" destination</li>
        <li>no error messaging/validation has been included in this initial version</li>
        <li>when "changing" entered data from the <strong>check your answers</strong> page:</li>
        <ul class="govuk-list govuk-list--bullet">
          <li>any radio button decisions are not presently brought through</li>
          <li>the 'type ahead' entries are not presently brought through</li>
          <li>the user will be forced to revisit all pages in the journey before being taken back to the <strong>check your answers</strong> page</li>
        </ul>
      </ul>
      {{ govukButton({
        text: 'View Exporter prototype (1st iteration)',
        classes: "govuk-!-margin-bottom-6",
        href: '/v1/index'
      })}}
      {% endset %}
      
      <!-- GOV UK Accordion -->
      {{ govukAccordion({
        items:  [
          {
            heading: { text: 'Agency Officer: Iteration 2 (15th June 2021)' },
            content: { html: iteration_2_agency_officer },
            expanded: true
          },
          {
            heading: { text: 'Exporter: Iteration 3 (10th June 2021)' },
            content: { html: iteration_3_consignor },
            expanded: true
          },  
          {
            heading: { text: 'Agency Officer: Iteration 1 (24th May 2021)' },
            content: { html: iteration_1_agency_officer },
            expanded: false
          },  
          {
            heading: { text: 'Exporter: Iteration 2 (19th April 2021)' },
            content: { html: iteration_2_consignor },
            expanded: false
          },
          {
            heading: { text: 'Exporter: Iteration 1 "baseline" (22nd March 2021)' },
            content: { html: iteration_1_consignor },
            expanded: false
          }
        ]
      }) }}
      
    </div>
  </div>

{% endblock %}
