
{% extends "layout.html" %}

{% block content %}

  <div class="govuk-form-group">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="eexample-1-typeahead">
        Example select with a type ahead
      </label>
    </h1>

    <p class="govuk-body">
    <div id="example-1-typeahead-hint" class="govuk-hint">
      Type in something in example 1 to select a country from the type ahead:
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-two-thirds">
      <div id="example-1-typeahead-container" data-default-value="{{ data['example-1-typeahead'] }}"></div>
      </div>
    </div>
  </p>

    <p class="govuk-body">
    <div id="example-2-typeahead-hint" class="govuk-hint">
      Type in something in example 2 to select a town from the type ahead:
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <div id="example-2-typeahead-container" data-default-value="{{ data['example-2-typeahead'] }}"></div>
      </div>
    </div>
</p>


  </div>

  {{ govukButton({
    html: 'Continue'
  }) }}

{% endblock %}
