
{% extends "layout-admin.html" %}

{% block pageTitle %}
  Received Annex VII forms - Waste tracking service
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "agency officer prototype"
    },
    html: 'This is not a live service.'
  }) }}
  {{ govukBackLink({
    text: 'Back',
    href: 'javascript:history.go(-1)'
  }) }}
{% endblock %}

{% block content %}

<!--
<p>
  ** PLEASE WORK = {{ data['gUTIDref'] }} **
  
</p>

<p>
  ** gPassedVariable = {{ data['gPassedVariable']}} **
</p>

<p>
  ** PREVIOUS LOCATION: {{ data['gPreviousLocation'] }}
  <br>
  ** CURRENT PAGE: {{ data['gCurrentLocation'] }} 
</p>

{% if '817435283' in data['gCurrentLocation'] %}
  COMPANY NAME ONE
{% endif %}

{% if '375518473' in data['gCurrentLocation'] %}
  COMPANY NAME TWO
{% endif %}

{% if '409413376' in data['gCurrentLocation'] %}
  COMPANY NAME THREE
  {{ 'who-arranged-company-name' == 'Company name Three' }}
{% endif %}

{% if 'one' in data['gPreviousLocation'] %}
  COMPANY NAME ONE
{% elif 'two' in data['gPreviousLocation'] %}
  COMPANY NAME TWO
{% elif 'three' in data['gPreviousLocation'] %}
  COMPANY NAME THREE
  {{ 'who-arranged-company-name' == 'Company name Three' }}
{% else %}
  NUFFINK
{% endif %}

{{ data['who-arranged-company-name'] == 'Company name Three' }}
-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
  <!--
  <div class="flex-container grid-row">
    <div class="govuk-grid-column-width-full">
  -->

      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          Training outcome recorded and trainee withdrawn
        </h3>
        <p class="govuk-body">
          Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there's a problem.
        </p>
      {% endset %}
    
      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}

      <h1 class="govuk-heading-xl">
        Reference number 817435283
      </h1>

      <h2 class="govuk-heading-xl">
        does this work? {{ data['who-arranged-company-name'] }}
      </h2>

      <!--------------------------------------->
      <!-- PERSON ARRANGING SHIPMENT HEADING -->
      <!--------------------------------------->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-l" style="margin: 0; padding: 0;">
            Person arranging the shipment
          </dt>
        </div>
      </dl>

      <!-- PERSON ARRANGING SHIPMENT - Carrier details -->
      <h3 class="govuk-heading-m">
        Company name and address
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            Euromovement Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Company address
          </dt>
          <dd class="govuk-summary-list__value">
            Unit 15, Berryedge Park<br>
            Dunstable<br>
            LU5 4AX
          </dd>
        </div>
      </dl>

      <!-- PERSON ARRANGING SHIPMENT - Contact details -->
      <h3 class="govuk-heading-m">
        Contact person
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Gary Squires
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            gary.squires@euromovement.com
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            01790 243 3921
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!-------------------------------->
      <!-- IMPORTER/CONSIGNEE HEADING -->
      <!-------------------------------->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-l" style="margin: 0; padding: 0;">
            Importer/consignee
          </dt>
        </div>
      </dl>

      <!-- IMPORTER/CONSIGNEE - Carrier details -->
      <h3 class="govuk-heading-m">
        Company name and address
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            Bulk Papers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Company address
          </dt>
          <dd class="govuk-summary-list__value">
            31st Floor, Rajbhavan Road<br>
            Khairatabad<br>
            Hyderabad<br>
            Andhra Pradesh<br>
            500004<br>
            India
          </dd>
        </div>
      </dl>

      <!-- IMPORTER/CONSIGNEE - Contact details -->
      <h3 class="govuk-heading-m">
        Contact person
      </h3>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Sakari Bhavsar
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            sakari.bhavsar@bulkpapers.in
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0091 98144 21012
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!-------------->
      <!-- QUANTITY -->
      <!-------------->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-l" style="margin: 0; padding: 0;">
            Quantity
          </dt>
        </div>
      </dl>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Weight
          </dt>
          <dd class="govuk-summary-list__value">
            12 Cubic Metres
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Actual or estimated
          </dt>
          <dd class="govuk-summary-list__value">
              Estimated quantity
          </dd>
        </div>
      </dl>
      <br><br>

      <!----------------------------->
      <!-- ACTUAL DATE OF SHIPMENT -->
      <!----------------------------->
      <h2 class="govuk-heading-l">
        Actual date of shipment
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Actual date of shipment
          </dt>
          <dd class="govuk-summary-list__value">
            17 May 2021
          </dd>
        </div>
      </dl>
      <br><br>

      <!--------------------------->
      <!-- FIRST CARRIER HEADING -->
      <!--------------------------->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-l" style="margin: 0; padding: 0;">
            First carrier
          </dt>
        </div>
      </dl>

      <!-- FIRST CARRIER - Carrier details -->
      <h3 class="govuk-heading-m">
        Carrier name and address
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Carrier name
          </dt>
          <dd class="govuk-summary-list__value">
            Complete CMA Shipping Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Carrier address
          </dt>
          <dd class="govuk-summary-list__value">
            32 Carriers Road<br>
            Crofts of Buinach<br>
            IV30 1AZ
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Means of transport
          </dt>
          <dd class="govuk-summary-list__value">
            Road
          </dd>
        </div>
      </dl>

      <!-- FIRST CARRIER - Contact details -->
      <h3 class="govuk-heading-m">
        Contact person
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Bob Walker
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            bob.walker@ccma.co.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0708 4528089
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!----------------------------->
      <!-- WASTE GENERATOR HEADING -->
      <!----------------------------->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-l" style="margin: 0; padding: 0;">
            Waste generator, original producer, new producer or collector
          </dt>
        </div>
      </dl>

      <!-- WASTE GENERATOR - Carrier details -->
      <h3 class="govuk-heading-m">
        Company name and address
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            Perfect Print Limited
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Company address
          </dt>
          <dd class="govuk-summary-list__value">
            120 South Street<br>
            Moelfre<br>
            Derbyshire<br>
            DE1 7LX
          </dd>
        </div>
      </dl>

      <!-- WASTE GENERATOR - Contact details -->
      <h3 class="govuk-heading-m">
        Contact person
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Thomas Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            contact@perfectprint.ltd.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0702 859 8430
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--------------------------------------------->
      <!-- RECOVERY FACILITY OR LABORATORY HEADING -->
      <!--------------------------------------------->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-l" style="margin: 0; padding: 0;">
            Recovery facility
          </dt>
        </div>
      </dl>

      <!-- RECOVERY FACILITY OR LABORATORY - Details -->
      <h3 class="govuk-heading-m">
        Recovery facility name and address
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Recovery facility name
          </dt>
          <dd class="govuk-summary-list__value">
            Bulk Papers
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Recovery facility address
          </dt>
          <dd class="govuk-summary-list__value">
            31st Floor, Rajbhavan Road<br>
            Khairatabad<br>
            Hyderabad<br>
            Andhra Pradesh<br>
            500004<br>
            India
          </dd>
        </div>
      </dl>

      <!-- RECOVERY FACILITY OR LABORATORY - Contact details -->
      <h3 class="govuk-heading-m">
        Contact person
      </h3>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Sakari Bhavsar
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            sakari.bhavsar@bulkpapers.in
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0091 98144 21012
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Fax number
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!------------------------>
      <!-- RECOVERY OPERATION --> 
      <!------------------------>
      <h2 class="govuk-heading-l">
        Recovery operation
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            R-code/D-code
          </dt>
          <dd class="govuk-summary-list__value">
            R12: Exchange of wastes for submission to any of the operations numbered R01 to R11
          </dd>
        </div>
      </dl>
      <br><br>

      <!----------------------->
      <!-- USUAL DESCRIPTION -->
      <!----------------------->
      <h2 class="govuk-heading-l">
        Usual description
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Usual description
          </dt>
          <dd class="govuk-summary-list__value">
            Paper scrap - OCC
          </dd>
        </div>
      </dl>
      <br><br>

      <!---------------------------------->
      <!-- WASTE IDENTIFICATION HEADING -->
      <!---------------------------------->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-l" style="margin: 0; padding: 0;">
            Relevant codes
          </dt>
        </div>
      </dl>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Basel Annex IX
          </dt>
          <dd class="govuk-summary-list__value">
            B3020: Paper, paperboard and paper product wastes
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            OECD code
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Annex IIIA
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Annex IIIB
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            EC list of wastes
          </dt>
          <dd class="govuk-summary-list__value">
            150101: paper and cardboard packaging
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            National code
          </dt>
          <dd class="govuk-summary-list__value">
            47079000
          </dd>
        </div>
      </dl>
    <br><br>

      <!------------------------------>
      <!-- COUNTRIES/STATES HEADING --> 
      <!------------------------------>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-l" style="margin: 0; padding: 0;">
            Countries/states concerned
          </dt>
        </div>
      </dl>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Export/dispatch
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom (GB)
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Transit
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Import/destination
          </dt>
          <dd class="govuk-summary-list__value">
            India (IN)
          </dd>
        </div>
      </dl>
      <br><br>

      <!----------------------->
      <!--  TRANSACTION ID'S -->
      <!----------------------->
      <h2 class="govuk-heading-l" id="check-transaction-id">
        Transaction ID's
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Unique ID
          </dt>
          <dd class="govuk-summary-list__value">
            HDJ2123F
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            Provided ID
          </dt>
          <dd class="govuk-summary-list__value">
            Not provided
          </dd>
        </div>
      </dl>
      <br><br>

      <!--
      <form class="form" method="post">
        {{ govukButton({
          text: 'Back to received list'
        }) }}
      </form>
    -->

    </div>
  </div>

{% endblock %}
