
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  EMAIL SUBJECT LINE | {{serviceName}} prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "agency officer prototype"
    },
    html: 'This is not a live service.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Placeholder content
    </h1>
    <p>Subject: <strong>Service application update</strong></p>
    <p>Dear {RECIPIENT}</p>
    <p>You’ve applied for a service.</p>
    <p>Your reference number is: <strong>9937261</strong>.</p>
    <p>You can access the service via the following link <a href="sign-in" target="_self">{SIGN-IN}</a>.</p>
    <p>
      From<br />
      {AGENCY NAME}
    </p>
    <p>This is an automated message – do not reply.</p>
    <div class="govuk-!-margin-top-9">
      <p class="govuk-body-s">
        {AGENCY NAME}. This email and any attachments is intended for the named recipient only. If you have received it in 
        error you have no authority to use, disclose, store or copy any of its contents and you should destroy it and inform 
        the sender. Whilst this email and associated attachments will have been checked for known viruses whilst within 
        {AGENCY NAME} systems we can accept no responsibility once it has left our systems. Communications on {AGENCY NAME}'s 
        computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful purposes.
      </p>
    </div>
  </div>
</div>

{% endblock %}
